[2020-03-19 16:07] akinomeroglu opened #1 "pyalarmdotcomajax not installed properly"
Hello,

I try to setup this custom comp. in Hass.io. As far as I understand dependency not installed. I try to restart couple of time.

This is my error log

[code]

This is my config

#home_alarm
alarm_control_panel:
  platform: alarmdotcomajax
  username: !secret alarm_username
  password: !secret alarm_password

Thanks

[2020-03-20 08:24] uvjustin commented on #1
Did you install the pyalarmdotcomajax library using pip?

[2020-03-20 08:33] akinomeroglu commented on #1
@uvjustin I am using hass.io so I don't have any access to it's shell. Homeassistant must be install this dependecy while booting.

[2020-03-20 08:59] uvjustin commented on #1
I don't use hass.io but I think hass.io is supposed to install the dependency automatically. Is the manifest.json in the directory?

[2020-03-20 09:00] akinomeroglu commented on #1
@uvjustin I think I understand the root cause. Your manifest.json file is not valid because of "codeowners": [@uvjustin] line. It must be "codeowners": ["@uvjustin"] IMHO. This correction fixed my problem

[2020-03-20 09:01] uvjustin commented on #1
Thanks for catching that. I will fix that

[2020-03-20 09:01] #1 closed

[2020-03-22 03:45] masterhuh opened #2 "Enhancement Request: Enable no_entry_delay on only certain commands"
It appears that the no_entry_delay works as an all or nothing in the current configuration.  Is it possible to cleanly make it so that it only occurs on "stay"?

[2020-03-22 11:53] uvjustin commented on #2
Added the feature...give it a try

[2020-03-22 11:54] uvjustin commented on #2
For the setting, I used the name "home" instead of "stay" as per HA convention (although in the pypi library I use the name "stay" instead of "home" as per the ADC convention). Hope it's not too confusing.

[2020-03-22 14:59] masterhuh commented on #2
naming convention makes sense.  inserting "home" into the config unfortunately did not trigger "no_entry_delay" for when the system was set to 'stay/home' with the new build.

[2020-03-22 15:08] uvjustin commented on #2
Fixed a typo...see if it works now

[2020-03-22 15:58] masterhuh commented on #2
works perfectly now, thanks!

[2020-03-22 15:58] #2 closed

[2020-03-24 13:29] chadcb opened #3 "Suggest changing CONF_CODE to string"
Hello,

I have been testing various combinations of codes and notice anything with a leading zero fails due to the zero being stripped off. If conf code is changed to string, it works for codes with leading zeros. Here is what my updated  alarm_control_panel.py looks like:

`
#vol.Optional(CONF_CODE): cv.positive_int,
`
`
vol.Optional(CONF_CODE): cv.string,
`

For the configuration.yaml, if using

[2020-03-24 16:45] uvjustin commented on #3
I haven't used or tested the functionality of CONF_CODE at all - that part is left over from when I forked from the original HA alarmdotcom code. Your change makes sense..I'll go ahead and make the change. Let me know if you have any problems.

[2020-03-24 16:45] #3 closed

[2020-03-24 19:42] markus99 opened #5 "Multiple locations / accounts not working correctly"
Environment:
[code]

I have Alarm.com setup for two locations, our home and our office (work).  The (now removed from HA) 'old' version used to allow this setup and treat them individually.

**Configuration.yaml**:

[code]
If I view my ```alarm_control_panel``` entries, you'll notice it's duplicating / combining them - instead of treating them as two separate locations:
![image](https://user-image

[2020-03-25 03:14] uvjustin commented on #5
Thanks for the info. Since this component is essentially the same as the "old" version, it would seem that the problem would lie in the scraping in the pyalarmdotcom library. However, the fact that both configs give access to the same system points back to this alarmdotcom component.
When you say it's duplicating/combining them, do you mean that the zones are combined into one system? Or is it one

[2020-03-25 12:40] markus99 commented on #5
It appears to be the latter - both systems are showing the same information.  In this case above, both `alarm_control_panel.home` and `alarm_control_panel.work` are both showing the `home` system's information (arming status, sensor_status, etc.)

[2020-03-25 15:08] uvjustin commented on #5
Are both entities able to arm that system?
One thought I had was maybe both the logins might have access to both systems underneath the hood (since the pyalarmdotcomajax code wasn't written to handle multiple systems and partitions - it just grabs the first system here https://github.com/uvjustin/pyalarmdotcomajax/blob/master/pyalarmdotcomajax/pyalarmdotcomajax.py:136), but if they're totally unre

[2020-03-25 15:49] aechelon commented on #5
Hmmm...  I don't think that's it because in the forum thread @markus99 mentioned that using two different versions of the plugin with two different namespaces (webapi and ajax -- one for each account) works.  It's almost like it's ignoring the second set of credentials.

A quick test to verify that would be to switch the order of the definitions (i.e. define the home account first and the work acc

[2020-03-25 16:18] markus99 commented on #5
Updated configuration.yaml to:
[code]
This resulted in both `alarm_control_panel.home` and `alarm_control_panel.work` entities showing the `HOME` sensor_status.

![image](https://user-images.githubusercontent.com/2835274/77559297-05331f00-6e8a-11ea-90ac-a37347371d8d.png)

Tested Developer Tools -> Services `alarm_control_panel.alarm_arm_home` on the `alarm_control_panel.home` and it armed the HOME

[2020-03-25 16:32] markus99 commented on #5
Tried this for grins, same result as above
[code]
Switching order now w/ a single `platform`

[2020-03-25 16:45] markus99 commented on #5
Flipped the order in configuration.yaml:
[code]
and resulted in flipping the sensors, now showing `WORK` for both `alarm_control_panel.home` and `alarm_control_panel.work` entities

![image](https://user-images.githubusercontent.com/2835274/77561809-32cd9780-6e8d-11ea-8bbe-72a2c9acb9e1.png)

UPDATE: Just rebooted a 2nd time after switching (`HOME` on top, `WORK` on bottom [as shown above]) and now

[2020-03-26 18:05] uvjustin commented on #5
I think it might be because we are using the default aiohttp clientsession so we are sharing site cookies. You can test this by creating a new websession for each instance, changing line 91 of alarmdotcomajax/alarm_control_panel.py to:
self._websession = aiohttp.ClientSession()
and remember to import aiohttp at the top

[2020-03-27 14:21] markus99 commented on #5
Made those changes, restarted and the two separate locations **are** showing correctly.  Nice work on the fix, thank you @uvjustin !

[2020-03-27 14:25] aechelon commented on #5
Good news!  I'd say that's a worthwhile change.

[2020-03-27 15:28] aechelon commented on #5
Unrelated, I installed the plugin via HACS and it seems to be working fine.

[2020-03-27 15:53] uvjustin commented on #5
@markus99 I pushed some changes that should use the existing websession for the first instance and create a new websession for additional instances. See if it works on your side?

[2020-03-27 15:53] uvjustin commented on #5
@aechelon Did you add it to HACS?

[2020-03-27 15:57] aechelon commented on #5
No, I didn't have to do anything special...  Apparently HACS is smart enough to notice that the file layout is conformant.  It even noticed that my local install of the integration is out-of-date just after you committed the latest change and offered me an option to update.  Very slick!

To install through HACS:

Add the integration repository as Category -> Integration using the SETTINGS page on

[2020-03-27 15:59] aechelon commented on #5
I posted instructions on the [HA thread](https://community.home-assistant.io/t/alarm-com-list-index-out-of-range/170670/116)

[2020-03-27 16:00] aechelon commented on #5
Might also be worth adding these instructions to the installation section in the README.

[2020-03-27 16:00] aechelon commented on #5
There also has to be some configuration element we're missing to provide HACS with a description of the module.

[2020-03-27 17:00] markus99 commented on #5
OK, just installed via HACS and rebooted.

Appears like this update **is working** correctly with multiple systems.  Showing unique / correct `sensor_status` for each location.

Thx @uvjustin !

[2020-03-28 05:46] uvjustin commented on #5
@markus99 Great, will close this
@aechelon HACS developer instructions are here https://hacs.xyz/docs/publish/start . The description comes from the Github description - I'll throw one line in there now.
I don't use HACS so not sure how it works. How is it finding the repository?

[2020-03-28 05:46] #5 closed

[2020-04-01 19:29] clsferguson opened #6 "HACS integration"
more of a request then an issue, can you integrate this with HACS? just for install and updating ease?

[2020-04-02 11:30] uvjustin commented on #6
Just merged your PR. @aechelon previously said it was already on HACS, so I didn't think anything else was necessary. I haven't used HACS myself so not too sure how it works.
I can add the repository to the default repository list if that helps. Let me know.

[2020-04-03 06:00] clsferguson commented on #6
Nope wasnt there. Needs the hacs.json. if you add it to the main list that would be helpful I'm sure. Lots of people will find it through hacs. The version number hacs populated for your repo is wrong though. Not sure where it gets that from. Probably in the hacs.json file too.

Thanks for making this.

[2020-04-03 06:00] #6 closed

[2020-05-04 12:00] pdobrien3 opened #8 "Possible to clean up alarm states"
Love this custom component. Works awesome. Any chance the state of the alarm could be cleaned up?
disarmed to Disarmed
armed_home to Armed Home
armed_away to Armed Away.

I tried to change this with a template sensor but then lose the ability to arm/disarm from the UI without some sort of yonky tap/hold action.

[2020-05-04 14:29] uvjustin commented on #8
Not sure exactly what you are trying to do, but alarm states are constants that are defined in the HA core code base: https://github.com/home-assistant/core/blob/dev/homeassistant/const.py

[2020-05-04 16:11] pdobrien3 commented on #8
The entity alarm_control_panel.alarm_com has the following attributes:
1) when the alarm is disarmed, and you tap the entity in the UI, you are presented an option to arm home or arm away
2) the current states are disarmed, armed_home and armed_away

I would like the states to be Disarmed, Armed Home and Armed Away. When you use a template sensor to change the state, you lose #1 above because the

[2020-05-04 16:27] uvjustin commented on #8
I'm sorry I really don't understand the issue, maybe @aechelon can help?

[2020-05-04 16:50] aechelon commented on #8
I think I understand the question.
The states and their underlying values are not defined by the custom component.  They are defined at the Home Assistant level and imported by the component:

from homeassistant.const import (
    CONF_CODE,
    CONF_NAME,
    CONF_PASSWORD,
    CONF_USERNAME,
    STATE_ALARM_ARMED_AWAY,
    STATE_ALARM_ARMED_HOME,
    STATE_ALARM_DISARMED,
)

The behavior of the

[2020-05-05 00:59] pdobrien3 commented on #8
@aechelon , thank you. Do you end up putting sensor.nest_away_mode in lovelace to see the results or can you keep the original nest entities?

[2020-05-05 10:02] pdobrien3 commented on #8
I upgraded to 0.109.4 today and the states are properly reporting again.  I guess it was just a bug during the over-haul of the frontend.  Thank you for your time and patience.

[2020-05-05 17:00] uvjustin commented on #8
Glad that you got it sorted out

[2020-05-05 17:00] #8 closed

[2020-05-26 02:01] ade5hmukh opened #10 "Unable to extract partition id from Alarm.com"
Hello Folks,
I am running Home Assistant 0.110.2 (docker instance on Ubuntu Server).
I have the following in configuration.yaml:
alarm_control_panel:
  - platform: alarmdotcomajax
    name: Alarm.com
    username: !secret
    password: !secret

I get the following log on home-assistant:
2020-05-25 18:33:04 ERROR (MainThread) [pyalarmdotcomajax.pyalarmdotcomajax] Unable to extract partition id from

[2020-05-26 07:38] uvjustin commented on #10
Interesting. I'm not aware of anyone else having this problem so it might be something on your end. I'm using 0.110.2 and there should be nothing with the new release which would cause this.
Was this integration working for you previously?
Check that the ADC login you are using proper permissions and that 2FA is not enabled for that login.

[2020-05-26 16:22] ade5hmukh commented on #10
Was this integration working for you previously?
--Completely new to this integration and home-assistant.
Check that the ADC login you are using proper permissions
-- ADC login has just username and password. No 2FA. Any specific permissions need to be set for API calls?
-- Is there anyway I can login via API and check if it's working?

I don't know if this maybe a problem but --
I have another pl

[2020-05-26 16:43] uvjustin commented on #10
The other platform shouldn't be an issue. There is a problem with scraping the page when using your login.
For permissions, it should work with either "Full Control", "Master Control", or "Custom" with remote arming checked. Are you able to see everything in the system from the home page at https://www.alarm.com/web/system/home ?

[2020-05-26 17:04] uvjustin commented on #10
It just occurred to me you might not be using secrets properly. Try entering the username and password without secrets first to troubleshoot.
For the secrets syntax see https://www.home-assistant.io/docs/configuration/secrets/

[2020-05-26 17:46] ade5hmukh commented on #10
Oh I'm not using secrets and that was just for demonstration purposes only. I am putting username and password in plain-text.
I just created new user on alarm.com with Master control permissions and changed HA config with the username/password but the same error.
2020-05-26 10:38:44 ERROR (MainThread) [pyalarmdotcomajax.pyalarmdotcomajax] Unable to extract partition id from Alarm.com

I am able to

[2020-05-27 01:30] uvjustin commented on #10
I don't think that that should be an issue as long as you can access the web portal, but I'm not familiar with all the ADC setups.
Unfortunately I can't help troubleshoot more without getting a temporary login to see where the scraping is breaking down. Would you be willing to send me one?

[2020-05-27 13:23] ade5hmukh commented on #10
Sure. Can you let me know what permissions would you like on temporary login and your email address to send credentials.
Thanks again for your help.

[2020-05-27 14:14] uvjustin commented on #10
"Custom" with remote arming checked is fine. Can send it to me at 46082645+uvjustin@users.noreply.github.com

[2020-05-28 14:31] #10 closed

[2020-06-17 00:24] mikesalz opened #11 "Question: How to create certain sensors?"
FIrst, the integration is fantastic!  Thank you for the amazing work!  I saw the examples for creating sensors for doors and motion, and from the examples I figured out how to create sensors for windows and glass break, smoke, etc..  But I'm not sure how to create sensors for the following when the alarm is actually triggered.  Meaning, if someone breaks in and the alarm sounds, how do I detect th

[2020-06-17 03:14] uvjustin commented on #11
The component doesn't currently support/detect STATE_ALARM_TRIGGERED. Unfortunately, I'm away from the alarm panel for the foreseeable future so I may have a hard time adding that functionality (I'd have to trigger the alarm while not being there). I'd welcome any PRs that would address this. One thing to keep in mind is that since the component works by polling, state changes are not instantaneou

[2020-06-17 15:11] aechelon commented on #11
@mikesalz I'm not sure that the System OK flag will change during an alarm trigger event.
I think that flag refers to the system's connectivity (both to your sensors and to the monitoring station).

However, since you already have sensor for windows and glass break, smoke, etc you could just use state changes of those as automation triggers, and follow the trigger with a condition to determine the

[2020-06-18 00:20] mikesalz commented on #11
Thanks for the responses, @aechelon and @uvjustin!  I think I see where you are going with the suggestion of checking sensors if the alarm is armed.  But there is a problem with that: If someone opens the door and walks in the house to disarm the alarm, the door sensor would fire and then trigger my automation.  Maybe I need to just let the alarm sound and watch the status to see what changes.  I

[2020-06-18 03:35] aechelon commented on #11
@mikesalz Both HA automations and Node-RED flows allow you to introduce delays and additional conditions in the "action" portion of your automation/flow.  Once your sensor(s) are triggered and the automation has verified the alarm is armed you can introduce a delay and then check if the alarm state has changed to disarmed -- if not, proceed to trigger the rest of your automation, otherwise bail ou

[2020-07-06 21:41] Brkie opened #12 "Activating takes long time / not working"
Hi,

Pretty new to this but doing my best. I use this integration for my alarm and I also Homekit integration. I got all the sensors working and showing correct (and fast) data. But when I try to arm my alarm, both in HA dashboard and in Homekit, it takes 'forever' (long time), sometimes it sucess but usually not.

When I go in to my alarm.com app, and arm "night" mode, I directly get a 'push' fro

[2020-07-09 07:17] dpiper01 opened #13 "Question: Is there a way to control Z-Wave devices?"
I’ve set up all the doors and motion sensors in Home Assistant but now my question is, can I connect my Z-Wave door lock to Home Assistant?

I have the lock connected into my Alarm.com system.

Thanks a ton!

[2020-07-09 09:59] uvjustin commented on #12
Our integration works via web scraping and is not supported by Alarm.com. We don't have an API to work with that we can get callbacks from, so we have to update the state by "polling" or refreshing it periodically.
Home Assistant internally refreshes the state every 30 seconds (the default SCAN_INTERVAL for alarm_control_panel entities). Additionally, this component refreshes the state directly af

[2020-07-09 10:20] uvjustin commented on #13
Sorry, this integration doesn't deal with the Z-wave functionality of Alarm.com.
There are other Z-wave hubs you can use with Home Assistant which will have more functionality/interoperability than the Alarm.com hub does (except you won't have the LTE connectivity which may be important to you).
See https://www.home-assistant.io/docs/z-wave/controllers/

[2020-07-09 10:20] #13 closed

[2020-07-09 14:33] aechelon commented on #12
No need to update the default scan interval.  Home Assistant supports updating the scan interval using the scan_interval parameter through the configuration.yaml entry (alarmdotcomajax inherits the scan_interval parameter from the alarm_control_panel base component).

Be advised that there have been reports of Alarm.com disabling accounts that poll too frequently.

Here's an example to lower the i

[2020-07-09 14:46] Brkie commented on #12
Hi again,

I dont think its the system. Connected thru 3G + WiFi, arms and dissarms in max 2 sec.
I also use Apple Homeapp, homekit.

When I use my alarm.com app and arm > I directly get a notification from homekit & home assistant -> armed. Same when I un-arm. When I try to use Home assistant or homekit to arm or un-arm, it usually dont even arm, and when it arms - it takes up to 1 minut, but mos

[2020-07-09 14:54] aechelon commented on #12
I have a similar setup (3G + WiFi) and updates after arming/disarming from HA take <2s.
Try logging into your alarm.com account via the web browser interface and seeing if arming that way has the same lag.

[2020-07-09 14:58] Brkie commented on #12
You mean by logging in by standard browser at www.alarm.com? If yes - same result as before < 2 sec.

[2020-07-09 15:04] aechelon commented on #12
Odd.  And you're running a recent/up-to-date HA instance?

[2020-07-09 16:51] Brkie commented on #12
Yes, just updated to the last core update - same result. While testing, my summary is - arming / disarming by HA is taking very long time or not working at all.

But when I arm thru the app or at the panel, it takes max 30 sec to inform HA that its armed.

So the communication FROM HA to alarm.com seems to be the problem, but not opposite.

[2020-07-09 18:11] uvjustin commented on #12
Strange...are you using the same login for the browser at www.alarm.com and in the configuration of the HA integration?

[2020-07-09 22:39] Brkie commented on #12
Yes, same log in. I can upload a video if wanted?

[2020-07-10 05:05] uvjustin commented on #12
Are there any zones that you are bypassing when arming? Are there any HA log warnings/errors when you arm/disarm?

[2020-07-11 21:23] Brkie commented on #12
Ok I have found something. When I use ”arm home” it works. When I use ”arm night” it does not work. I have a swedish alarm from securiras thru alarm.com - I dont know if you all have those options?

When I try to use homekit, still no sucess but I think that have to do something with HA & homekit integration.

Question is, why does nothing happen when I use ”night arm”?

Logs= no error, logs all m

[2020-07-11 21:42] aechelon commented on #12
The Alarm.com web interface does not expose a "night arm" command, and so neither does the plugin.
The only options available through the web interface are "disarm", "arm-home", and "arm-away".

If you submitted any other command, then it would likely just be ignored.

[2020-07-15 09:33] uvjustin commented on #12
@Brkie The reason it doesn't show up in the logs is a function of how HA deals with services/platforms and supported_features. Not all platforms under the same integration support the same features, so each platform specifies which subset of features it supports. In our case, our component declares it supports arm home and arm away (and all components under alarm_control_panel support disarm). Whe

[2020-07-15 09:33] #12 closed

[2020-08-22 09:29] cjeffcoat80 opened #14 "Not working"
Hi,
 Im kinda new at HA. I have recently went from a Honeywell alarm panel to an Alarm.com panel. It is great and all but I can not seem to get it integrated into HA.... Any ideas. I am running HA version 0.114.3

[2020-08-24 04:11] #11 closed

[2020-08-24 04:14] uvjustin commented on #14
The module should be downloaded from PyPI automatically by HA after HA loads the custom component. It's possible that the PyPI download failed for some reason, but it should have tried again on a subsequent HA reboot.
Are you still having this issue?

[2020-08-25 15:19] coltondick commented on #14
I too am experiencing the same issue.

I have resolved this however by installing the dependencies from manifest.json manually.

`
pip install beautifulsoup4 pyalarmdotcomajax==0.1.2`

[2020-08-27 04:31] uvjustin commented on #14
@aechelon Any idea why this would be happening?

[2020-08-27 09:39] cjeffcoat80 commented on #14
My issue has been resolved. But any idea why I have to put the code in to arm and disarm the alarm? Any way to automate it or have it automatically disarm and arm without typing the code in? I have the code in the configuration.yaml but it still requires me to input it manually.

[2020-08-27 09:47] uvjustin commented on #14
The code you specify in configuration.yaml is actually there to force you to enter a code to arm/disarm through HA - it doesn't have to be related to the code on your alarm system. If you don't want to have to enter a code to arm/disarm, remove the code from your configuration.yaml.

[2020-08-27 09:48] cjeffcoat80 commented on #14
Perfect. I'll try that right now.

[2020-08-27 09:57] cjeffcoat80 commented on #14
any way to get it to disarm or is arm away and arm home all it is able to do?

[2020-08-27 09:58] cjeffcoat80 commented on #14
nevermind. dumb question. I figured it out.

[2020-08-27 10:15] cjeffcoat80 commented on #14
Thank you for taking the time out and giving me a hand. It is much appreciated

[2020-08-27 11:19] uvjustin commented on #14
No worries, glad you were able to get it set up.

[2020-08-27 16:22] #14 closed

[2020-08-31 22:03] roo-punch opened #15 "Error executing Arm+Stay, logging in and trying again"
I've added this integration by inputting a custom repo link into HACS. I'm running hass.io. I added settings to the configuration.yaml as instructed. The alarm.com integration shows up. However, when I go to use it I get this error:

Error executing Arm+Stay, logging in and trying again...
3:02:40 PM – /usr/local/lib/python3.8/site-packages/pyalarmdotcomajax/pyalarmdotcomajax.py (ERROR) - message

[2020-09-01 14:38] uvjustin commented on #15
Do you have an Alarm.com package which includes security system support? Ie can you arm/disarm your system through the web page or mobile app?

[2020-09-01 19:29] roo-punch commented on #15
Thanks for the response (and the project). Yep. I actually had notifications turned on for online logins and so I got about 800 emails after adding the integration for new logins. So it was definitely logging in correctly.

[2020-09-01 19:52] uvjustin commented on #15
Check that the ADC login you are using has enough permissions to arm/disarm the system.

[2020-09-02 01:45] roo-punch commented on #15
It is the master account. I've checked to make sure there is no 2FA, it can successfully arm/disarm, etc.

[2020-09-02 02:46] uvjustin commented on #15
Interesting. Can you set the logging to debug and share what debug message it gives along with the error message?

[2020-09-02 03:08] roo-punch commented on #15
This is what it came up with. Looks like a 422 response?

[alarmdotcomlogs.txt](https://github.com/uvjustin/alarmdotcomajax/files/5159864/alarmdotcomlogs.txt)

[2020-09-02 03:29] uvjustin commented on #15
I'm not sure why the 422 is coming back - it could be an issue with grabbing the partition information, or it may be a result of rate limiting now (From your logs it looks like the requests you've sent are looping back, sending nonstop logins and arm commands. This may cause some kind of exception on the ADC side. I would recommend restarting HA and letting it cool off a bit. Does your arming from

[2020-09-02 11:51] roo-punch commented on #15
That definitely sounds plausible, although not sure why it's getting that in the first place? I've disabled the integration again. The app is currently working fine.

[2020-09-02 12:20] uvjustin commented on #15
Yes, I'm not sure either. Do you know if you have multiple partitions set up?
Would it be possible to make a temporary login for me to help troubleshoot?

[2020-09-02 13:27] aechelon commented on #15
I've been thinking that it might be worthwhile to add a python script to help test the component independently from HA.
@roo-punch, out of curiosity, who's your alarm.com provider?

[2020-09-02 16:42] roo-punch commented on #15
@uvjustin Yes, how should I send it to you? I don't believe there are multiple partitions. @aechelon It is Brinks.

[2020-09-02 17:06] aechelon commented on #15
Weird.  I'm also with Brinks and I can confirm that Arm+Stay works fine.

[2020-09-02 17:07] roo-punch commented on #15
So I decided to try it with the new user I created and still no dice. Then I removed the optional parameters and bingo, it's working. It is working fine with 'code', but doesn't like 'force_bypass', 'no_entry_delay' or 'silent_arming'

[2020-09-02 17:15] silentcossack commented on #15
Hey folks, so I just wanted to chime in that I'm seeing the exact same issue. Getting 422 code back, looping like mad after that. Commenting out the three options for bypass, delay and silent fixes the issue. Clearly something in the format of some of those options is not being like by alarm.com

[2020-09-02 17:20] aechelon commented on #15
@silentcossack is this something that it started happening recently for an existing configuration?
Can you test setting silent_arming by itself to "true"?

[2020-09-02 17:20] roo-punch commented on #15
@aechelon Tested, still seeing the same results. Overall I'm pleased to get it working though, I can live without those parameters. It could be to the benefit of everyone to throw some kind of error, rather than hammering the site. Would hate to see a captcha or something.

[2020-09-02 17:33] silentcossack commented on #15
Ok, tested by putting the options back one by one and all work except one. Setting force_bypass to true breaks it. Hope this helps.

[2020-09-03 01:14] uvjustin commented on #15
Good information, thanks for the feedback.
One thing to note - at least on my portal, some of those 3 parameters are not compatible with each other. For example, setting night arming to true greys out the away button. Setting no entry delay and night arming will not allow any arming at all.
I usually arm using force_bypass only, and I noticed that the command that gets sent only sends the force_by

[2020-09-04 05:36] gutch1 opened #16 "Two Factor Authentication"
Thank you for this. It works but I had to disable two factor authentication. Can this be avoided?

[2020-09-04 17:07] uvjustin commented on #16
This doesn't really make sense as the component would not be able to log in to your account if it had to verify a text message in order to complete log in.
In ADC you can create a separate login that you use only for HA, and you would only have to disable 2FA for that login. You would only need to give this login "Custom -> Remote Arming -> Full Control" permissions. You could use a very secure pa

[2020-09-04 17:12] gutch1 commented on #16
Thanks for the suggestion and I'll look into that. I don't know how it wouldn't make sense though. For example, I can use two factor authentication to utilize alexa. Either way it works great.

[2020-09-04 17:23] uvjustin commented on #16
I see what you mean.
Some services let you authorize once through OAuth, and instead of storing your username and password they store a token which gives them access to whatever features you authorize.
Unfortunately ADC does not support OAuth and actually does not really support any kind of third party interface. So we have to scrape their website (we emulate using the website).
Anyway, the separa

[2020-09-05 19:18] slightlyskewed commented on #16
tried the dedicated HA user account in ADC, but it does not allow to provision the permissions you stated above. dont even see a way to enable web login for the alt account, am i missing something?

otherwise seems like a great secure work around

[2020-09-06 10:20] uvjustin commented on #16
Try Users -> Manage Logins -> Add a Login

[2020-09-10 17:45] jhbeskow commented on #15
Just commenting to follow this.  I have the same issue.  Setting all 3 to false is the only way I have gotten it to work so far.

[2020-09-10 17:53] jhbeskow commented on #15
Quick correction.  no_entry_delay works as expected.  This configuration works, but if I change either of the false values to true, it stops working:

alarm_control_panel:
  - platform: alarmdotcomajax
    username: !secret alarm_username
    password: !secret alarm_password
    #code: !secret alarm_code
    force_bypass: "false"
    no_entry_delay: "home"
    silent_arming: "false"

[2020-09-10 18:00] uvjustin commented on #15
Do the corresponding commands work on your ADC web portal?
For example, when you click both the no_entry_delay and force_bypass buttons, can you arm the system?
(silent_arming is called night_arming at least on my ADC web portal)

[2020-09-10 23:02] jhbeskow commented on #15
I only have No Entry Delay available, which is weird because I can bypass at the panel.

[2020-09-12 12:42] uvjustin commented on #16
@slightlyskewed Any luck with that?

[2020-09-12 12:44] uvjustin commented on #15
Interesting. I guess the availability of options might be related to different ADC service providers or underlying alarm systems. Unfortunately it looks like we can't use certain options if they are not available in the web portal.

[2020-09-12 12:45] uvjustin commented on #15
Haven't heard from the others in over a week, closing this issue for now.

[2020-09-12 12:45] #15 closed

[2020-09-12 16:34] roo-punch commented on #15
That makes sense. I only have 'no entry delay' available in the portal as well.

[2020-09-13 22:30] seanmccabe opened #17 "Sensors States are reversed"
Thanks for the integration, been using for a few days now, but seems to have come across the issue that the sensor states are in reverse.

I.e. Front Door is currently closed, but is showing open. This is the same for all sensors.

![image](https://user-images.githubusercontent.com/12243212/93030189-46f09580-f675-11ea-9e39-bf916d3e6317.png)

[2020-09-14 10:26] uvjustin commented on #17
This integration just returns the sensor state as strings from what ADC returns. You can view what we return in the sensor_status attribute of your alarm panel entity. I suspect your problem with reversed states is probably from the mapping you are using in `value_template: `. See here: https://github.com/uvjustin/alarmdotcomajax#additional-features

[2020-09-19 16:48] #16 closed

[2020-09-19 16:48] #17 closed

[2020-09-20 16:03] slightlyskewed commented on #16
sorry been out of town, worked perfectly. many thanks!

[2020-10-05 20:22] Raul-7-7 opened #18 "Error setting up integration alarm_control_panel - received exception"
Hi,
I followed the instruction and getting an error. Here is my setup
/config/custom_components/alarmdotcomajax
---> __init__.py
---> alarm_control_panel.py
---> manifest.json

I then added the following to my config.yaml
alarm_control_panel:
  - platform: alarmdotcomajax
    username: XXXXXXXX
    password: XXXXXXX
    code: "XXXXX"
    force_bypass: "true"
    no_entry_delay: "home"
    silent_a

[2020-10-05 20:38] Raul-7-7 commented on #18
I also installed the depencies manually, by running **pip install beautifulsoup4 pyalarmdotcomajax==0.1.3**

[2020-10-05 20:57] Raul-7-7 commented on #18
NVM got it working!!! for some reason you need to download the zip and unzip on the host, if you download each file 1 at a time, doesnt work! thank you!!!

[2020-10-05 20:57] #18 closed

[2020-10-07 13:45] anatwick opened #19 "No module named pyalarmdotcomajax"
When i follow all of the steps you have i get the following error:  "Platform error alarm_control_panel.alarmdotcomajax - No Module named 'pyalarmdotcomajax'"  i downloaded the files directly from this repository and in my custom components folder i have an alarmdotcomajax folder and within that folder i have the following three files: 1. _init_.py 2. alarm_control_panel.py 3. manifest.json

Any t

[2020-10-07 15:56] uvjustin commented on #19
HA should install the `pyalarmdotcomajax` module automatically as it's specified in the requirements section of the `manifest.json` file. For some reason a few people have said it doesn't install automatically for them, but you can work around this by installing it manually from inside your container/venv using the command `pip install pyalarmdotcomajax`.

[2020-10-07 18:13] anatwick commented on #19
Stupid question but how do i do that? I am running an ubuntu VM in virtual box.  i entered in that command and it said pip is an unknown command

[2020-10-07 18:36] anatwick commented on #19
I did find the pyalarmdotcomajax.py file and put it in the same custom components folder but no luck.

[2020-10-08 04:10] uvjustin commented on #19
Where is HA running?
Try `pip3 install pyalarmdotcomajax`

[2020-10-08 15:36] anatwick commented on #19
I guess I'm not following your question.  The server is on an ubuntu virutual machine running in virtual box.   I tried entering these commands from the command line interface within that and no such luck.

[2020-10-08 15:42] anatwick commented on #19
I got it working!   I decided to go back in and play around with it and found the problem  i had Alexa Guard setup as an alarm for testing and that was causing issues apparently.  i disabled that and and now i can get the alarm.com panel to show up.  have to do some more tweaking as it doesnt seem to work but i have a feeling i'm over the biggest hurdle

[2020-10-08 16:08] anatwick commented on #19
Its really strange actually... when i go into developer tools and look i can clearly see all of my sensors and there status perfectly. I can also see the malfunctions that i have (sensors need batteries) perfectly but when i arm the alarm using the interface in HA it doesnt actually do anything.  After clicking arm home it sits there and has a blue hue over arm home for maybe 5-10 seconds but neve

[2020-10-08 20:56] anatwick commented on #19
OK - Messed around with it all day and now it does seem to work Thank You for the help on this!

[2020-10-08 20:56] #19 closed

[2020-10-08 21:42] anatwick opened #20 "Sensor Integration"
When trying to integrate the door sensors and motion detectors I'm running into a little issue.  I get the following error:

Invalid config for [alarm_control_panel.alarmdotcomajax]: [binary_sensor] is an invalid option for [alarm_control_panel.alarmdotcomajax]. Check: alarm_control_panel.alarmdotcomajax->binary_sensor. (See ?, line ?).

The motion sensor appears to show up just fine - just the do

[2020-10-08 22:38] #20 closed

[2020-11-11 13:35] mikesalz opened #21 "ADT / Alarm.com now requires 2FA"
I noticed my alarmdotcomajax installation stopped working last night.  Errors below.

Probably not coincidentally,  when I logged in to the alarm.com website I was forced to enable 2FA.  Does alarmdotcomajax
support 2FA?

[code]

[code]

[2020-11-11 14:42] aechelon commented on #21
@mikesalz, the plugin doesn't support 2-factor authentication.  The workaround is to create a new sub-account that doesn't require 2-factor using the alarm.com website.  The procedure is similar to that in the **Multiple Alarm.com Installations** section of the documentation.
There are other benefits of creating a dedicated sub-account for HomeAssistant -- primarily, you will be able to discern wh

[2020-11-11 16:05] jjohns63 commented on #21
@aechelon That's a good suggestion, but having just gone through setting up a secondary login, that account faces the same issue. Logging in brings up a page forcing setting up 2FA, it does not bring you to the primary screen.

[2020-11-11 16:10] mystex opened #22 "Not a big issue but wanted to let you know it's not showing up in HACS"
I'll install manually but thing it'd be great if it showed up in HACS.

[2020-11-11 17:59] mikesalz commented on #21
@aechelon Thanks for your quick response! I had the same experience as @jjohns63 when I logged in through the web UI.  ADT/Alarm.com (not sure which is doing this) allows you to disable 2FA, but then forces you to turn it back on in order to do anything.

[2020-11-11 18:03] aechelon commented on #21
Interesting.  That behavior must be vendor-specific.  I don't see the same with Brinks/Alarm.com.

[2020-11-11 18:11] mikesalz commented on #21
Yeah, it kinda blows.  Any ideas how to get around this?  Or am I screwed now?

[2020-11-11 18:47] aechelon commented on #21
Surely there must be a way to disable 2-factor authentication...  Not ideal from a security point-of-view, but at least it would get the plugin working again.

[2020-11-11 19:32] mikesalz commented on #21
I don't know.  Technically, I do not have 2FA turned on.  Yet.  But immediately after logging in I get this:

![image](https://user-images.githubusercontent.com/46855061/98855760-872c8400-242a-11eb-821d-c5782f853228.png)

And then I click Skip and get this:

![image](https://user-images.githubusercontent.com/46855061/98855801-9c091780-242a-11eb-91a3-6aafcb8a801a.png)

So they either have a bug, or

[2020-11-11 19:35] aechelon commented on #21
Is this on ADT's website or alarm.com?
For Brinks when I input my credentials on the alarm.com site it forwards me to a brinks-themed version of alarm.com.

[2020-11-11 19:37] mikesalz commented on #21
Same here.  I input my credentials on alarm.com and then get forwarded to ADT.  [https://control.adt.com/system-install/login-setup/two-factor-authentication/overview]

[2020-11-11 21:14] mikesalz commented on #21
@aechelon I don't know what's going on here.  This is weird.  Most of the time the website acts how I described.  But sometimes it lets me right in.  When I restart HA, I'm still getting the error messages I originally posted.  Do these look symptomatic of having 2FA enabled?  Or could it be a different issue?

[2020-11-11 21:52] mikesalz commented on #21
I have new info!  I called ADT support.  They said that there have been some changes (Not clear if these changes were on ADT's side or alarm.com's side).  When logging in through alarm.com, they said they will always require 2FA moving forward.  However, if you log in directly through ADT's site (https://control.adt.com) you can skip/disable 2FA.

Given this, is there any way I (or you) can change

[2020-11-11 22:09] aechelon commented on #21
I'll defer to @uvjustin, but I believe that the pyalarmdotcomajax library used by the plugin connects to a web API URL, which is not the same as the URL you would use to connect to alarm.com in a browser.

That URL looks something like this: https://www.alarm.com/web/api/systems/availableSystemItems.

This would indicate the change for 2-factor is on the alarm.com side of things, however if that w

[2020-11-12 02:10] jxbrown commented on #21
I'm having the same problem. Using ADT/Protection One with Alarm.com. I been using a separate account for year with no problem until last night. Getting the same errors as mikesalz.

**Logger: custom_components.alarmdotcomajax.pyalarmdotcomajax
Source: custom_components/alarmdotcomajax/pyalarmdotcomajax.py:139
Integration: alarmdotcomajax
First occurred: 5:18:38 PM (1 occurrences)
Last logged: 5:1

[2020-11-12 04:43] uvjustin commented on #21
Hmm, that's interesting. We can try to help a little but it will be hard for us without this ADT issue to be able to make many changes or help troubleshoot. When you log in through https://control.adt.com , what url does it end up redirecting to?
If the web interface is the same and it's as simple as changing up the URLs, we can expose an option to do that in the component. But I'm worried that th

[2020-11-12 04:44] uvjustin commented on #22
@aechelon Any idea how to do this? I don't use HACS myself...

[2020-11-12 04:56] aechelon commented on #22
I'm using the plugin through HACS without issues.  Perhaps you need to add the repo?
There's a Custom Repositories option when you click on the three dots at the top-right corner of the HACS interface.  You can provide the URL for this plugin there and click ADD.

[2020-11-12 05:11] jxbrown commented on #21
The https://control.adt.com/ site redirects to Alarm.com and brings up a page to setup 2FA. For me, it doesn't have a skip button to continue the login. When I go directly to Alarm.com, It shows the same page, but has a skip button.

redirect form: https://control.adt.com/
![image](https://user-images.githubusercontent.com/50732522/98898091-b4e0ef80-2461-11eb-8f2f-7d5c093b1f67.png)

Logging direct

[2020-11-12 09:03] uvjustin commented on #21
Unfortunately just having that click through page is already different than what I have access to on my end, so I won't be able to make a workaround without access to a subaccount.
Perhaps someone with the problem can try to make a workaround?
Otherwise, if you are willing to give me access to a secondary login to try to make a workaround, I can post a PGP key here and you can use it to post me th

[2020-11-12 15:58] mikesalz commented on #21
Hi @uvjustin - I can create a secondary login for a limited amount of time.  I want to be very cautious with this, for obvious reasons.  Would a Read Only account be sufficient for your testing purposes?  For how long do you think you would need the login?

![image](https://user-images.githubusercontent.com/46855061/98963450-a0d6d580-24d5-11eb-990c-cddeb66a17fa.png)

[2020-11-13 01:48] uvjustin commented on #21
I think a Read Only account would probably work. I probably won't need it for more than a day or two.
Here's a PGP key to encrypt the user/pass with if you want to post it here:

-----BEGIN PGP PUBLIC KEY BLOCK-----

mQGNBF+t5QUBDADI9XEvcTGN1lx1K41uA/F1Myac5ah3TDJQTZkA2FVPNwj5d8+B
29iAzziFG9YvTNZ7Ur2gt11O9A2WyLHF5B3/y5+YLrfXcJRU5SVsPSZL/ChG1SvS
GgZ8d3ZwMmgB5lPpLvKgarhWvbqLA+GJQj3BV2VqxvHIjSIm4hLhD

[2020-11-13 02:13] mikesalz commented on #21
Are you also @uvjustin on the Home Assistant forum?  If so, I can just send it to you in a PM there.  Even encrypted, I feel weird about posting it here.

[2020-11-13 02:51] uvjustin commented on #21
OK, send it there.

[2020-11-13 03:29] mikesalz commented on #21
Sent. Please let me know if you got it. Thanks!

[2020-11-13 08:15] jxbrown commented on #21
@uvjustin and @mikesalz - Thanks for looking into this. Will you be posting updates here or on the Home Assistant forum?

[2020-11-13 16:35] mystex commented on #22
I wasn't saying it wouldn't work but more that it's not showing up in the search when you do the add repositories.

[2020-11-14 07:34] uvjustin commented on #21
Just pushed the changes to the library and the component. See if it works for you.

[2020-11-15 04:39] jjohns63 commented on #21
The updated library is working for me, after adding `ADT: true` to my configuration

[2020-11-15 12:21] uvjustin commented on #21
@mikesalz was able to get it working too. I hope this fix holds and there aren't more changes on deck. Unfortunately if the ADT portal diverges more from the standard ADC one, it will probably be hard for me to keep up with the changes, so we will need someone either to help update/maintain the ADT code here or perhaps to fork the component/library to an ADT specific one.

[2020-11-15 12:21] #21 closed

[2020-11-15 18:34] jxbrown commented on #21
@uvjustin - Thanks for you help with this, I did not change update the code and the site just working again? My pyalarmdotcomajax.py file is dated 3/18/20. Would you still recommend I update the code to the latest?

[2020-11-15 18:57] uvjustin commented on #21
If it's working for you then there's no need to update. Maybe they removed the 2FA check so the workaround is no longer necessary.

[2020-11-15 22:28] jxbrown commented on #21
Ok. Thanks again for your help.

On Sun, Nov 15, 2020 at 10:57 AM uvjustin <notifications@github.com> wrote:

[2020-11-16 00:54] mikesalz commented on #21
@jxbrown Not sure how it is working for you?  Just now I took out out `adt: true` and it failed with the same error as before.

[2020-11-16 12:09] uvjustin opened #23 "Component name may be confusing"
This component was named alarmdotcomajax to differentiate it from the original alarmdotcom component. The "ajax" suffix may be misleading given that there is actually an alarm system with the name Ajax Systems. Given that the original alarmdotcom integration no longer exists, maybe we should rename this component back to alarmdotcom. @aechelon thoughts?

[2020-11-16 15:01] aechelon commented on #23
I agree.

[2020-11-16 15:43] uvjustin commented on #23
Changing the component name should be easy enough, but the pypi library name pyalarmdotcom is already taken. Should we rename the pypi library to something else or just keep it as is?

[2020-11-16 15:52] aechelon commented on #23
I'd keep it as-is...  Mostly because I don't have a clever suggestion, but that would also make it so that any older forks could still be associated by name.

[2020-11-16 16:42] uvjustin commented on #23
Ok. I'll wait til the weekend to do it in case some people have to switch out the component/change the component name in config yaml

[2020-11-16 16:48] aechelon commented on #23
Not sure if it's appropriate since it's not a built-in component, but maybe we should give the HA folks a heads up so they put it in their release notes?

[2020-11-16 16:56] uvjustin commented on #23
I don't think it's in scope since it's no longer a built in integration...maybe just post a heads up on the forums?

[2020-11-16 17:05] aechelon commented on #23
Sounds good

[2020-11-17 23:29] jxbrown commented on #21
@mikesalz - I'm a Protection One customer so we make have a different way of connecting to Alarm.com

[2020-11-21 01:31] csmarcolino opened #24 "Cannot import AlarmdotcomADT error on last build"
I don't have adt on my alarm.com so I set adt to false and got the error bellow. I delete the adt from my config and still got the error.
I reverterted to the commit before the adt commit (sep 2 if am not mistaken) and error is gone

Logger: homeassistant.components.hassio
Source: components/hassio/__init__.py:407
Integration: Hass.io (documentation, issues)
First occurred: November 19, 2020, 8:23

[2020-11-21 04:27] uvjustin commented on #24
Your hassio is not updating the pypi library to the version in the manifest.json. I'm not sure why that is happening, but it's not a problem with the component.
@aechelon Any ideas why some people seem to have problems with pypi requirements?

[2020-11-22 17:17] uvjustin commented on #23
Renamed the component and repository.

[2020-11-22 17:17] #23 closed

[2020-11-26 01:56] mikesalz commented on #21
@uvjustin Would you believe they took out the Skip screen!?  I happened to restart HA today, and when it came up the Alarm.com integration didn't load.  I opened alarm.com in a browser and logged in, and it took me straight into my account, without the Skip screen.  So I commented out `adt: true` in the config, and then the integration worked again.  I wouldn't pull your code just yet - who knows

[2020-11-26 06:23] uvjustin commented on #21
OK, well I'm glad it worked for a week or so. As long as the regular non ADT way still works I won't change anything.

[2020-11-27 18:29] jermstheitguy opened #25 "Error After update 5 days ago."
Just installed today and recieving error stating

Logger: homeassistant.components.homeassistant
Source: components/homeassistant/__init__.py:113
Integration: Home Assistant Core Integration (documentation, issues)
First occurred: 1:27:15 PM (1 occurrences)
Last logged: 1:27:15 PM
Platform error alarm_control_panel.alarmdotcom - No module named 'pyalarmdotcomajax'

[2020-11-29 09:19] uvjustin commented on #25
For some reason your HA is not installing the pyalarmdotcomajax dependency correctly. This has been reported by several others, but I don't think this is a problem with the component per se as the pypi requirement is spelled out properly in the manifest.json file. I have also never encountered this problem on my install. Are you using hassio? HACS?

[2020-12-03 17:43] kc8pnd commented on #25
arch | x86_64
-- | --
chassis | vm
dev | false
docker | true
docker_version | 19.03.13
hassio | true
host_os | Ubuntu 18.04.1 LTS
installation_type | Home Assistant Supervised
os_name | Linux
os_version | 4.15.0-123-generic
python_version | 3.8.5
supervisor | 2020.12.2
timezone | America/Goose_Bay
version | 0.115.2
virtualenv | false

Currently same error! Thanks for any updates with a fix.

[2020-12-03 23:18] mikesalz commented on #21
And now the Skip screen is back, and it is forcing 2FA!  ADT sucks.  I switched my config to adt:true and it started working again.  I know you've put a lot of time into this thing, but I'm just curious... How hard would it be to build in an automatic try so that if adt: false does not work, it fails over to adt: true?

[2020-12-04 06:38] uvjustin commented on #25
This is the same issue mentioned here https://github.com/uvjustin/alarmdotcom/issues/14 and here https://github.com/uvjustin/alarmdotcom/issues/19 . No idea why it happens on some installs - it doesn't happen for me or for @aechelon .
A workaround is to just install the pyalarmdotcomajax library using pip.

[2020-12-04 06:41] uvjustin commented on #24
This is related to https://github.com/uvjustin/alarmdotcom/issues/25
For some reason your HA does not pull the updated version of the pypi library automatically. No idea why this happens. To work around just install the pyalarmdotcomajax library using pip.

[2020-12-04 06:45] uvjustin commented on #21
Not hard, but I would do it the other way around, first trying the ADT way if adt is true and then trying the normal way if it doesn't work. Doesn't make sense for us non-ADT users to try to use the ADT way if there is some error.
It's weird that they are going back and forth with this stuff.

[2020-12-04 16:47] mikesalz commented on #21
That makes sense.  Is that something I can/should do on my end, or are you thinking you'd make the change to the integration?

[2020-12-04 18:41] uvjustin commented on #21
If they change it back again, PM me another temp login. That way I can make and test a change to the ADT code that will fail over to a non 2FA login.

[2020-12-04 19:02] mikesalz commented on #21
You got it.  Thank you, kind sir!

[2020-12-08 20:04] sargonas opened #26 "Unable to extract system id from Alarm.com"
I restarted my system today, after not making any changes (to the best of my knowledge) to anything related to the alarmdotcom module, but it suddenly stopped working with the following errors in my log:

2020-12-08 11:58:14 ERROR (MainThread) [pyalarmdotcomajax.pyalarmdotcomajax] Unable to extract system id from Alarm.com
2020-12-08 11:58:14 ERROR (MainThread) [homeassistant.components.alarm_cont

[2020-12-09 00:57] uvjustin commented on #26
I'm not sure what that is from - I haven't seen a similar problem on my end yet. What ADC provider do you use? Have you noticed any changes to the web portal?

[2020-12-09 01:33] sargonas commented on #26
I have Protection1 which is a subset of ADT.  Admittedly I’ve only logged
in the web version probably two or three times… And not at all in the past
five months, so I couldn’t say for certain if anything has changed or not.

Would you like me to send you a sanitized screenshot of what the portal
looks like, so you can see if anything seems out of the ordinary?

On Tue, Dec 8, 2020 at 16:57 uvjusti

[2020-12-09 02:59] KTibow opened #27 "Do you want me to add GitHub actions?"
If you want, I can add some advanced CI to your repo in a PR. Let me know if you want that.
- Do you want to enable auto-formatting?
- Do you want packaged or independent (I recommend packaged because I can send updates)?

[2020-12-09 03:28] uvjustin commented on #26
I see. It looks like an ADT issue. Try setting `adt: true` in your config. See https://github.com/uvjustin/alarmdotcom/issues/21

[2020-12-09 03:29] uvjustin commented on #27
I don't know anything about CI - what are the benefits of doing that? Can you point me to a good primer?

[2020-12-09 03:49] sargonas commented on #26
sadly I've already tried both true and false settings with the same results, but my pains do read very similar to that thread in many ways, but it looks like resolutions are inconsistent based on the whims of ADT so I guess there's no real answer for now. :(

[2020-12-09 14:57] KTibow commented on #27
CI is formatting or validation steps that can happen when stuff happens, like when someone makes a PR or you push. [Here's a primer](https://dev.to/aliahsan07/a-primer-on-github-actions-24l), but you don't need to know anything in order to use it.

[2020-12-09 17:14] jxbrown commented on #21
@mikesalz - Are you having issues again? I rebooted last night and now I'm getting this error.

**Logger: custom_components.alarmdotcomajax.pyalarmdotcomajax
Source: custom_components/alarmdotcomajax/pyalarmdotcomajax.py:139
Integration: alarmdotcomajax
First occurred: 7:37:22 AM (1 occurrences)
Last logged: 7:37:22 AM

Unable to extract system id from Alarm.com**

@uvjustin - I'm seeing this erro

[2020-12-09 17:21] uvjustin commented on #27
Thanks for the info and the offer. My initial thinking is that it there isn't a pressing need for it now as we don't get a lot of PRs and we also don't have any tests set up, but I will look into it more when I have some time.

[2020-12-09 17:46] mikesalz commented on #21
@jxbrown I have had to toggle back and forth between have that flag set to true and false, depending on what ADT feels like doing that day.  Mine is currently set to true and is working.

[2020-12-09 20:46] jxbrown commented on #21
@mikesalz Thanks. That helps.
Can you share what your configuration.yaml looks like?  I think I'm using old code from  2 years ago.

@mikesalz @uvjustin
Here's my configuration.yaml

# Alarm.com
alarm_control_panel:
 - platform: alarmdotcomajax
   username: !secret adt_username
   password: !secret adt_password
 - platform: aarlo
   home_mode_name: home
   away_mode_name: armed
   trigger_time: 30

[2020-12-09 20:47] jxbrown commented on #21
`# Alarm.com
alarm_control_panel:
 - platform: alarmdotcomajax
   username: !secret adt_username
   password: !secret adt_password
 - platform: aarlo
   home_mode_name: home
   away_mode_name: armed
   trigger_time: 30
   alarm_volume: 8`

[2020-12-09 20:55] mikesalz commented on #21
Here is mine.  You are missing is `adt: true` - Assuming you have an ADT alarm.
Also, it looks like you don't have the newest version (which might mean that you don't even have the adt parameter available).  They renamed the integration from alarmdotcomajax to alarmdotcom.  Are you using HACS to keep it updated?

[code]

[2020-12-09 21:36] jxbrown commented on #21
@mikesalz  This was pretty old install - I did not use HACS. Can you send me a link to the install guide?  Do I need to do an uninstall before using HACS?

Thanks

[2020-12-09 21:55] mikesalz commented on #21
@jxbrown There's not much to do to uninstall it.  Just delete/remove the alarmdotcomajax folder from your custom_componets directory.  You might want to temporarily comment out your config until you have the new version installed.

Then install HACS (Home Assistant Community Store) via the UI using Configuration > Add Integration.  It should give you any instructions you need for installation.

On

[2020-12-09 21:57] jxbrown commented on #21
@mikesalz Thanks! I'll give it a shot and report back.

[2020-12-09 23:53] KTibow commented on #27
Got it. flake8, HACS, and hassfest don't need to set up anything in order to work.

[2020-12-10 06:52] jxbrown commented on #21
@mikesalz - I could not find the HACS Integration so I installed via the readme on this page. Here's what I noticed.

When trying to login via https://control.adt.com the system redirects me to https://www.alarm.com/system-install/login-setup/two-factor-authentication/overview and forces me to setup 2FA. No skip option is available.

Here's the error I get:
**ERROR (MainThread) [pyalarmdotcomajax.

[2020-12-10 08:20] jxbrown commented on #21
@mikesalz - Can you reopen this issue for tracking or should I open a new issue?

[2020-12-10 08:43] jxbrown commented on #26
@sargonas - I'm having the same issue and using Protection 1. Check out my post #21

Hoping we get this resolved.

[2020-12-10 09:05] uvjustin commented on #26
I see...looks like it's a Protection 1 issue that is similar but maybe distinct to the ADT issue.
I don't want to keep making workarounds for every ADC provider, but since Protection 1 is a big provider and also because this might be very similar to the ADT issue, I'm willing to try and make a workaround for this.
Can one of you guys send me a temporary login to play with?

[2020-12-10 09:07] uvjustin commented on #26
I posted a PGP key here https://github.com/uvjustin/alarmdotcom/issues/21#issuecomment-726454739 or alternatively you can PM me on the HA community forum

[2020-12-10 13:05] mikesalz commented on #21
@jxbrown I don't understand - Do you have an ADT system or a Protection One system?  I think @uvjustin made changes to the integration specifically for ADT.

I would just create a new issue.  This one is closed, so @uvjustin may not even be following the thread anymore.

And in the meantime, work on getting HACS installed.  That will make your life much easier!  https://hacs.xyz/docs/installation/

[2020-12-10 21:05] sargonas commented on #26
Sure thing. I have a separate delegated login that I use for my devices
devices, we change the password on that today and I will send it to you
directly for testing.

For what it’s worth, I can’t be 100% certain, but I’m under the impression
that ADT and protection1 have the same login experience. When I login, all
the banners and logos say a ADT and protection1 in the same line, and the
URLs chan

[2020-12-11 01:17] jxbrown commented on #21
@mikesalz - I have a protection one system. I think you're right that @uvjustin is may not be tracking this thread anymore.

 I have HACS installed but I cannot find the alarmdotcom integration. Is it under another name?

[2020-12-11 01:32] mikesalz commented on #21
@jxbrown Just to make sure, you are clicking the bottom right "Explore & Add Repositories" button, right?

I just checked out HACS.  It looks like the search omits any custom components you already have installed.  So if you still have your old version installed, it might recognize that and screen it out of the search.  Just a guess.  The name is Alarmdotcom.

[2020-12-11 01:38] jxbrown opened #28 "Protection One / Alarm.com now requires 2FA"
@uvjustin - I used Protection One/Alarm.com as my security provider. I had the same issue noted in #21 for a few days but it resolved itself. I rebooted 2 days ago and now the 2FA issue has come back. I'm getting the following errors in my log.

ERROR (MainThread) [pyalarmdotcomajax.pyalarmdotcomajax] Unable to extract data from adt.com
ERROR (MainThread) [homeassistant.components.alarm_control_pa

[2020-12-11 17:28] jxbrown commented on #21
Thanks @mikesalz for the info, I think I have the latest installed by using the instructions on this page.

I created a separate issue #28 in hopes to get this resolved.

[2020-12-11 17:35] jxbrown commented on #26
@uvjustin @sargonas  - Thanks for looking into this! Please let me know if you need anything from me.

@uvjustin - I'll close the other issue I created yesterday.

[2020-12-11 17:37] jxbrown commented on #28
This issue is being worked on in #26. Please track the progress over there.

[2020-12-11 17:37] #28 closed

[2020-12-11 21:39] mikesalz commented on #21
@jxbrown Glad you got it installed.  I know your issue isn't resolved just yet, but at least you have an easy way to keep up with updates now.

[2020-12-13 10:56] uvjustin commented on #26
When I had a look at this yesterday the Protection1 site exhibited a hybrid ADT/ADC style login, while today it seemed to work with the old ADC style login.
Anyway, I did some refactoring and made a new Protection1 login class. It attempts to try the new hybrid login and falls back to the default ADC style login if it doesn't work. Let me know if it works on your end.

[2020-12-13 10:59] uvjustin commented on #26
@mikesalz There was a bit of refactoring to share code between the ADT and the protection1 login types. Let me know if you encounter any issues with this updated version.

[2020-12-13 17:10] jxbrown commented on #26
@uvjustin Thanks for working on this. I'm getting the following error when I add the protection1 flag.

**Logger: homeassistant.components.hassio
Source: components/hassio/__init__.py:383
Integration: Hass.io (documentation, issues)
First occurred: 8:47:34 AM (1 occurrences)
Last logged: 8:47:34 AM

Invalid config for [alarm_control_panel.alarmdotcom]: [protection1] is an invalid option for [alarm

[2020-12-13 17:18] sargonas commented on #26
That did the trick for me, thanks so much for the quick turnaround @uvjustin!

[2020-12-13 17:20] sargonas commented on #26
@jxbrown you want to make sure you install the latest version that includes his fix, restart the HA instance to fully load it, and THEN add the P1 config parameter. If you try to add the it before you restart the instance, the system will have no concept of that function, and block you to prevent a potentially  invalid config from being loaded.

[2020-12-13 17:54] jxbrown commented on #26
@sargonas Deleted the previous files alarmdotcom. I downloaded new files per the readme and copied the files into the custom_components directory. Rebooted and the server.  For testing, when I add the adt flag, I don't see error.

Can you share what your configuration. yaml and alarmdotcom directory looks like?

How did you install the latest version?

Thanks,

[2020-12-13 17:58] sargonas commented on #26
Interesting. I had the exact same problem you did when I mistakenly tried
to add the parameter at the same time I updated to the latest version… And
when I rebooted, it worked fine, so I assumed you were in the same boat.

If it’s giving that error it means the code you have loaded for the module
doesn’t have his new function included. If you grab the latest files from
his github obviously that sh

[2020-12-13 18:24] jxbrown commented on #26
@sargonas Thanks for the feedback. I moved the alarmdotcom sections higher in my configuration. yaml and it's now working.

[2020-12-13 18:46] mikesalz commented on #26
@uvjustin Looking good so far. I’ll let you know if any weirdness happens.

[2020-12-13 19:00] jxbrown commented on #26
@uvjustin Looking good on my side as well. Thanks for the quick turnaround!

@mikesalz @sargonas - Thanks again for your help.

[2020-12-13 22:17] uvjustin commented on #26
Glad it seems to be working for everyone, will close this now.

[2020-12-13 22:17] #26 closed

[2020-12-15 17:54] jpreiditsch opened #29 "Loading Integration Broke After Upgrading from 0.1.6 to 0.1.7/0.1.8"
Hi There,

After upgrading to the build with 0.1.7 or 0.1.8 my component fails to start.
If I grab the source for the 0.1.6 build my component loads.

Here's the stack trace in the HA logs from 0.1.8

[code]

[2020-12-15 18:01] uvjustin commented on #29
Can you share your configuration.yaml?

[2020-12-15 18:54] jpreiditsch commented on #29
Here you go, I've 'redacted' identifiable items

Note my config for the alarmdotcom is very very basic

  - platform: alarmdotcom
    username: !secret alarmdotcom_username
    password: !secret alarmdotcom_password

Its an account that I use is a login that created just for HA. Permission is custom with the following permissions enabled
- Remote Arming
- Activity

[code]

[2020-12-15 19:00] uvjustin commented on #29
Oh, I was actually just looking for the `alarm_control_panel` section.
It's strange that your logs say
`2020-12-15 12:48:13 WARNING (MainThread) [homeassistant.components.alarm_control_panel] Setup of alarm_control_panel platform alarmdotcom is taking over 10 seconds.
2020-12-15 12:48:13 WARNING (MainThread) [homeassistant.components.alarm_control_panel] Setup of alarm_control_panel platform alexa

[2020-12-15 19:12] jpreiditsch commented on #29
Everything else is working fine in my system.
I do normally see the same weird message about the alexa load.

Here's the snippet of the logs when I'm using 0.1.6 of the component

[code]

The main difference is that I don't see the platform load error log
Have any dependencies changed or was there something changed with that specific TypeError message at the bottom of the log. Perhaps the old vers

[2020-12-15 19:27] uvjustin commented on #29
The snipped from 0.1.6 looks like it just failed to log in.
With 0.1.8 it looks like it is partially logging in and then getting stuck.
Can you check that you can actually log in to the portal with that username? Some users have reported that their providers are requiring 2FA on the logins, and that's the main reason for the updates to the component in the past few weeks. Which ADC provider do you

[2020-12-15 19:38] jpreiditsch commented on #29
I just quickly tried logging into ADC's web site with the credentials I use for the integration and it didn't request 2FA.

The provider is Telus

[2020-12-15 19:48] uvjustin commented on #29
Did the integration ever work for you?
If not, it's possible Telus has a slightly different interface than the ones we've seen before. If you want me to look into it more, you can make a temporary login for me to have a look.
I've posted a PGP key here. You can post the encrypted login here or you can PM me on the HA community forum.
https://github.com/uvjustin/alarmdotcom/issues/21#issuecomment-7

[2020-12-15 20:14] mikesalz commented on #21
@jxbrown (and anyone who might be encountering this issue) Just an FYI - I started encountering new issues with my ADT login (again!!!).  @uvjustin jumped right on it because he is awesome, and came up with a new solution.  The adt: and protection1: parameters are going to be deprecated, and will be replaced with a cookie that is set when logging in through the alarmdotcom portal.  See readme:
htt

[2020-12-15 20:41] jpreiditsch commented on #29
I've been using your version of the integration as long as the official integration was dropped. its been working flawlessly.
I currently have it working but only when I download the custom component from girhut at this commit

https://github.com/uvjustin/alarmdotcom/tree/190a59261020593ce2b347940f783ed454e2b4aa

It stopped working when I updated in Hacs a bit back, so I reverted to the one above.

[2020-12-16 13:00] uvjustin commented on #29
I just tried the login you sent me and was able to log in with no problems. What kind of HA install are you running and what version are you on?

[2020-12-16 13:05] uvjustin commented on #29
For troubleshooting, you can try logging in with the library itself outside of HA using the following code (fill in your username and password):
`from pyalarmdotcomajax import Alarmdotcom
import asyncio
import aiohttp

async def main():
  username="YOUR_USERNAME"
  password="YOUR_PASSWORD"
  async with aiohttp.ClientSession() as session:
    adc = Alarmdotcom(username,password,session,False,False,

[2020-12-16 13:11] uvjustin commented on #29
I see your config has several other files included at the bottom. Does one of those files have another `alarm_control_panel:` section? Can you check the configuration.yaml as instructed here? https://www.home-assistant.io/docs/configuration/troubleshooting/

[2020-12-16 13:12] jpreiditsch commented on #29
2020.12.0 on a OS 5.8 Pi3 64 bit.
This also occurred on 118.x

I’ve updated the config to utilize the same permissions. If you want to try that. But I’ll also give the script a try and see what the difference is in them.

I’ll let you know thanks for the assistance.

Sent from my iPad 6

On Dec 16, 2020, at 8:00 AM, uvjustin <notifications@github.com> wrote:

﻿

I just tried the login you sent me

[2020-12-16 13:12] uvjustin commented on #25
@kc8pnd @jermstheitguy Still having this problem?

[2020-12-16 13:13] uvjustin commented on #24
@csmarcolino Still having that problem?

[2020-12-16 13:15] jpreiditsch commented on #29
Check config always passes.
The additional files don’t define any integrations  except for extracting my google assistant and Alexa configs out to their own files (their customization is longer than my main config :/)

[2020-12-16 13:26] uvjustin commented on #29
It's still strange that there's an alarm platform named `alexa_media` in your logs.
Does the code snippet to test the library itself work on your system?

[2020-12-16 14:07] jpreiditsch commented on #29
my pi isn't configured for root ssh access. I actually don't have pysical access to it at the moment. I never ended up getting the import settings to enable it before injuring my back.
I downloaded the alarmdotcomajax library and aio http 3.7.1 and latest beautifulsoup4 to my mac and ran the script with the credentials that I use and it returns the following.

disarmed
System OK, Back Door is Clos

[2020-12-16 14:15] jpreiditsch commented on #29
Yeah that change I made did not work lol I'll play around a bit more and let you know if I see anything

[2020-12-16 14:40] jpreiditsch commented on #29
File "aiohttp/_http_writer.pyx", line 137, in aiohttp._http_writer._serialize_headers
  File "aiohttp/_http_writer.pyx", line 109, in aiohttp._http_writer.to_str
TypeError: Cannot serialize non-str key None
Which makes me wonder why its trying to send none in the writer instead of a value

In the ajax config I see this
[code]
It almost looks like the component is trying to serialize a null value i

[2020-12-16 15:06] jpreiditsch commented on #29
So I got it working in a really funny manner

Changed
[code]

to

[code]

I played around in the component and found this by playing around a bit

Original
[code]
changed it to
[code]
Which did not work
So I changed it to

[code]
And this did work.

So then I then reverted updated the config with the empty string and it worked fine.

Perhaps there is some other component pulling in a dependency th

[2020-12-16 15:54] uvjustin commented on #29
That's strange. I could easily change the config parameter to default to "" (I had actually previously considered doing so based on what is written here: https://developers.home-assistant.io/docs/development_validation/ , but that suggests just not specifying None explicitly as a default and doesn't say anything about always providing a default. If you look through the code base most usages of vol

[2020-12-16 16:49] jpreiditsch commented on #29
Really reviewing the code there didn't seem to be anything wrong with it at all. It seems mostly environment or possibly a different version of the async io library included by another integration.
Possibly some additional explicit tightening of the conditions could be added... note I'm not a python expert at all but I can read and follow the code

Maybe change it up some how to not send the cooki

[2020-12-17 01:54] tcm0116 commented on #15
I would like to note that I had this same issue with Brinks as well. You might want to consider adding some additional details to the documentation to indicate the limitations of the various services.

[2020-12-17 03:13] uvjustin commented on #15
Ok, I will add a comment to the README

[2020-12-18 07:12] jxbrown commented on #21
@mikesalz Thanks for the heads-up. I noticed with 0.1.7 that the account I use for Alarm.com repletely tries to login. I rebooted and the account tried to login 47 times in one minute.

I'll try 1.8 to see if that helps.

[2020-12-18 08:02] jxbrown commented on #21
@mikesalz Back up and running with the 2FA code thanks again for the heads-up. @uvjustin Thanks again for fixing this.

[2020-12-19 00:08] csmarcolino commented on #24
@uvjustin I upgraded homeassistant to  2020.12.1 and your code to the latest and the issue is gone.

[2020-12-19 00:08] #24 closed

[2020-12-19 00:09] csmarcolino commented on #24
Closing the issue, tks

[2020-12-20 20:31] jpreiditsch opened #30 "Alarm Control Panel Not Found During Alexa Component Discovery"
From https://www.home-assistant.io/integrations/alexa.smart_home/

Alexa does not support arming with voice PIN at this time. Therefore if the Alarm Control Panel requires a code for arming or the code_arm_required attribute is true, the entity will not be exposed during discovery. The Alarm Control Panel may default the code_arm_required attribute to true even if the platform does not support or

[2020-12-21 04:33] uvjustin commented on #30
It's an easy change to also change the code_alarm_required property to return False when there is no code, but I checked and that property is not overridden in most of the alarm integrations, including invisalink, ialarm, ifttt, and simplisafe. Instead, a code_format of None is returned when there is no code, and this seems like the suggested way to do it based on the code comments in the alarm_co

[2020-12-21 04:33] #30 closed

[2020-12-21 04:36] uvjustin commented on #29
Haven't heard of any other reports on this yet so it's probably something related to your install. I think the Alexa component uses a custom aiohttp which handles cookies differently - there's a decent chance the issue here is related to that. Since you've found a workaround and there doesn't seem to be an obvious problem with this component, I'm closing this for now.

[2020-12-21 04:43] uvjustin commented on #22
I added the repository to HACS default, and it got pulled into the master 2 days ago. Does it work now? (I still don't use HACS myself so I can't check)

[2020-12-22 13:38] jpreiditsch commented on #29
So no matter what happens I continue to see this. But I realized it only happens If I get the error.
"Can not load system data from Alarm.com"

I think the refactoring of the async_login to into
_async_get_ajax_key
_async_get_system_info
Might have caused the issue to appear

async_system_info call might still be happening after failing to load the login page instead of just returning from async_l

[2020-12-22 14:30] uvjustin commented on #29
You're right about the problem from refactoring. Thanks for pointing that out. I will fix that now.

[2020-12-22 15:17] uvjustin commented on #29
Made the change, see if it fixes the issue on your end.

[2020-12-22 15:37] jpreiditsch commented on #29
I've pulled in the update and so far so good. Its behaving. My HA is scheduled to restart every morning so we'll see.
The error was intermittent so it definitely was a tough one to track down.
Thanks for the fix.

[2020-12-22 15:55] uvjustin commented on #29
Great. Thanks for digging in and tracking down the problem.

[2020-12-22 15:55] #29 closed

[2020-12-26 17:34] xmmpru83 opened #31 "status not updated properly and mismatch state of alarm vs web&phone app"
Hi,

I've installed the plugin, it works ok for arm & disarm the alarm. The problem is that when I set from HASSIO to Arm the alarm, the state is not updated. Within alarm.com the state shows as Disarmed but the alarm itself is having the red led blinking and the arming sound was heard.
The state of disarm is executed properly and its recognized in the web UI.
On the Web it shows [Web] command: ar

[2020-12-26 17:55] uvjustin commented on #31
Please post this question on the home assistant community forum under third party integrations. The forum is a better place for tech support questions. Github issues are more for confirmed issues/bugs with the code.

[2020-12-29 04:24] xmmpru83 commented on #31
I do believe this is a bug... your plugin is sending a weird command to the API of Alarm.com
FYI https://github.com/schwark/pyalarmcom is not making this issue... when it is set to arm, within the app that command have the Arm icon unlike yours.

[2020-12-29 04:42] uvjustin commented on #31
Are the options you are arming with exposed in your web portal?
[code]

[2020-12-29 04:42] xmmpru83 commented on #31
yes, they are.

[2020-12-29 04:48] xmmpru83 commented on #31
Look at the web activity log. The difference between your Arm command and the one that really Arms the alarm
https://ibb.co/Stq7Bzy

[2020-12-29 05:04] uvjustin commented on #31
If you click no entry delay and silent alarming at the same time, does it let you arm the system?

[2020-12-29 05:05] uvjustin commented on #31
Clearly one is being sent with no entry delay and one isn't. But that's a user configurable option.

[2020-12-29 08:27] xmmpru83 commented on #31
Let me try tonight with the same values 1:1, I let you know, thanks Justin.

[2020-12-29 08:28] xmmpru83 commented on #31
yup, ofcoz. that's the usual way I arm the system at night bro

[2020-12-30 02:35] NovaViper commented on #25
Im having this issue too, I just isntalled the raspi4 docker image of Home Assistant Core

[2020-12-30 04:20] jermstheitguy commented on #25
I did the work around.  Just installed pyalarmdotcomajax library.

[2020-12-30 04:20] #25 closed

[2020-12-30 15:42] xmmpru83 commented on #31
tried it again, same... its quite strange bro, maybe u wanna take a look at this library that I use and that doesn't make any problem (python)
https://github.com/schwark/pyalarmcom

[2020-12-30 16:25] uvjustin commented on #31
I'm willing to help you out, but you should follow my suggestions and reply more clearly. I am not going to waste my time studying another library to fix a problem that most likely does not exist or at the very least is not well defined. I still think this is a setup issue on your end given that you are a new user and no existing users have reported this problem.
Once again, try setting `no_entry_

[2020-12-30 16:57] xmmpru83 commented on #31
i get ur point
https://ibb.co/T4Gv2d0

Look it by yourself. nothing gets grayed out..
but then I tried it from the UI.. and it goes into lmbo mode...

[2020-12-30 17:05] xmmpru83 commented on #31
bro u are right, is that value.. even if I can set it on the web.. the alarm does that weird thing. now I disabled it in ur plugin and it armed all wonderful.
appreciate your help bro and thanks for the great plugin.

[2020-12-30 17:05] #31 closed

[2021-01-01 19:23] iKingRPG commented on #22
Around 2 days ago I noticed it is finally added to HACS. I successfully installed it using HACS and it is working :)

Thanks for making this.

[2021-01-02 23:38] seanmccabe commented on #17
Map them all as per instruction with their state as they are. I.e. if front door closed, map as closed, and back door open as open.
However they don't through correctly, Often showing reversed, so open, when physically closed. Can flick between these states over hours when the door hasn't physically been opened/closed

[2021-01-03 12:44] #22 closed

[2021-01-21 17:10] arungpillai opened #32 "Arm+Stay failed with HTTP code 422"
I am able get the status into HA and also disarm without error. However, when I try to arm it fails.   On the alaram.com panel I don't use any code to arm.

Arming parameters: force_bypass = True, no_entry_delay = True, silent_arming = True
10:06:42 AM – /usr/local/lib/python3.8/site-packages/pyalarmdotcomajax/pyalarmdotcomajax.py (ERROR)

Logger: pyalarmdotcomajax.pyalarmdotcomajax
Source: /usr/l

[2021-01-21 17:33] uvjustin commented on #32
Likely the same as https://github.com/uvjustin/alarmdotcom/issues/31 . Not all systems can use all options/combinations of options to arm. This limitation is from ADC and your alarm system, not from the integration.
To confirm this, try to arm your system from the ADC portal using force_bypass, no_entry_delay, and silent_arming. I'm guessing it won't work.

[2021-01-22 18:08] arungpillai commented on #32
Thanks, yes it worked after I removed force_bypass, no_entry_delay, and silent_arming from config you may close this :)

[2021-01-25 16:50] #32 closed

[2021-03-03 22:11] brushj opened #33 "Versioning will be required in future versions of Home Assistant"
Logger: homeassistant.loader
Source: loader.py:802
First occurred: 4:52:07 PM (1 occurrences)
Last logged: 4:52:07 PM

No 'version' key in the manifest file for custom integration 'alarmdotcomajax'. This will not be allowed in a future version of Home Assistant. Please report this to the maintainer of 'alarmdotcomajax'

[2021-03-03 22:18] brushj opened #34 "Unable to setup system ID error"
[code]

I am assuming that is also what is causing the error below. Issue popped up in the last 24 hours.
[code]

[2021-03-04 02:36] uvjustin commented on #33
Thanks. Just added the version to the manifest file.

[2021-03-04 02:36] #33 closed

[2021-03-04 02:38] uvjustin commented on #34
I haven't seen this on my portal. Which ADC provider are you using? Have you noticed any differences when logging in to their web portal?

[2021-03-04 02:46] brushj commented on #34
Provider is Qolsys. I do get a prompt to enable 2FA but it lets me skip. Not sure if I should just enable it or what

[2021-03-04 02:48] uvjustin commented on #34
Follow the instructions here: https://github.com/uvjustin/alarmdotcom#two-factor-authentication

[2021-03-04 03:00] icu814 commented on #34
I am getting the same error regarding the system ID.  I have followed the TFA instructions and added my cookie to the configuration.  My instance of this custom component was just updated to the latest version and this error still persists.

Logger: pyalarmdotcomajax.pyalarmdotcomajax
Source: /usr/local/lib/python3.8/site-packages/pyalarmdotcomajax/pyalarmdotcomajax.py:170
First occurred: 8:55:25

[2021-03-04 03:02] brushj commented on #34
I will try setting up 2FA just in case and report back

[2021-03-04 03:56] aechelon commented on #34
Are you sure Qolsys is your provider?
What website do you log into to change your alarm settings?  That's typically branded by your provider (e.g. Brinks, ADT, etc)

[2021-03-04 04:07] brushj commented on #34
Yep, that is the name at the top of the app and on my system.

[2021-03-04 04:29] brushj commented on #34
So I guess since I am being prompted for it in the app now it is required in order for me to use the add-on. I set it up and went through the steps and it is working again.

[2021-03-04 06:45] uvjustin commented on #34
@brushj Glad you were able to get it working.
@icu814 The 2FA setup has been working fine for other users for a while now and @brushj was able to get it working too. Maybe try setting it up again?

[2021-03-04 12:23] icu814 commented on #34
Let me give it a try.  Looks like the app is now asking me for 2FA.  @brushj did you skip 2FA in the app also or actually set up a second factor?

[2021-03-04 13:57] brushj commented on #34
@icu814 I got the prompt as I previously did not have it enabled. I had to enable it for it to work.

[2021-03-04 14:41] icu814 commented on #34
@brushj So, enable 2FA in the app and skip it in the browser?  I just want to make sure that I replicate your steps to get this working again.

[2021-03-04 14:49] icu814 commented on #34
@uvjustin @brushj I enabled SMS-based 2FA in the ADC app, logged into my portal through the browser, entered the SMS code, trusted my browser, and reconfigured ADC in my configuration.yaml file.  Seems to be working now.

[2021-03-04 14:50] brushj commented on #34
I enabled it in the app and then signed into alarm.com through the web portal in Chrome with the two factor code.

After you auth with the 2FA on Chrome, go to View > Developer> and select Developer tools

In the box that pops up on the right click the >> and choose Application
Under Storage expand Cookies and click on alarm.com and look for two_factor_cookie copy the result there.
Put that into y

[2021-03-04 14:52] brushj commented on #34
I am going to close this since both of us were able to figure it out.

I will say that a note should probably be added to the documentation that says if your app is asking for 2FA it will be required to use the add-on at this point.

[2021-03-04 14:52] #34 closed

[2021-03-06 08:52] cjeffcoat80 opened #35 "Error"
I am getting a error message in the log section of home assistant. I am curious as to if this is normal. The message says Can not load state data from Alarm.com. it has shown up 6 times. I am kinda new and do not know much about coding or programing.

Logger: pyalarmdotcomajax.pyalarmdotcomajax
Source: /usr/local/lib/python3.8/site-packages/pyalarmdotcomajax/pyalarmdotcomajax.py:233
First occurred

[2021-03-09 16:36] xtacle101 commented on #35
I'm seeing the same. Seems to be functioning fine, but getting multiple warnings and errors:

ERROR:
[code]

WARNING:
[code]

WARNING:
[code]

[2021-03-10 01:15] mikesalz commented on #35
I am getting a ton of these lately as well.

[2021-03-10 02:27] uvjustin commented on #35
It's normal to get these every once in a while - it happens when there is a timeout when trying to load the partitions endpoint. If it's happening a ton then that's concerning, but I don't seem to have that problem on my end. Since the code hasn't changed in a while and the integration still works, I would look into other things which might be causing sporadic connection issues.

[2021-03-10 03:34] xtacle101 commented on #35
I've seen the "Can not load state data from Alarm.com" 137 times in the last 12 hours. Not sure the frequency at which it's trying to know if that's a good or bad "success rate". I was seeing issues with my internet connection throughout the day today, but have since resolved them. It still seems to be throwing the errors at the same rate. I'll keep an eye on it.

[2021-03-10 03:43] uvjustin commented on #35
The default scan interval for HA alarm panels is 30 seconds, so 137 is quite high - it's as if your internet was out for over an hour...

[2021-03-10 05:06] uvjustin commented on #35
Yes, remove the old component.
The other posts have logs which reference `pyalarmdotcomajax` which is still the correct pypi library, but I don't see any posts referencing `alarmdotcomajax` besides yours.

[2021-03-10 12:28] mikesalz commented on #35
Yeah, I have had 142 occurrences just since I restarted HA last night around 6 pm.  As others have said, the integration does appear to be working.  I am using ADT, which has had some ugly issues in the past.  @cjeffcoat80 @xtacle101 Are you also using ADT?  Maybe it is on their end...

[2021-03-10 12:35] cjeffcoat80 commented on #35
I am not. My alarm company is Vector Security. I just deleted everything and started over. Everything seems to be working correctly now. However do not forget to go into the custom components file and in the manifest.json file add line 10 which is the version line.

[2021-03-10 12:36] cjeffcoat80 commented on #35
I think with ADT you have to enable the 2 factor authentication

[2021-03-10 12:38] cjeffcoat80 commented on #35
never mind my errors are back.

[2021-03-10 13:48] uvjustin commented on #35
@mikesalz Yes that looks problematic. Unfortunately I don't have much time to investigate at the moment...

One thing you guys could try is just logging on to the website and hitting refresh every 30 seconds or so to see if you notice anything weird.

[2021-03-12 01:16] mikesalz commented on #35
Hey @uvjustin! I logged in and refreshed a few times, and everything seemed fine.  But I don't think that really tells us much.

You can see from a sample of my log that the problem is very intermittent, but happens very often.  I get that you're busy, and I hate to bug you.  Any suggestions on something I can do myself on my end to try to resolve it?

[2021-03-12 02:40] uvjustin commented on #35
It seems to happen sporadically and usually not twice in a row. Maybe check your DNS servers?
You could also try increasing the `scan_interval` to 60 to see if there's some kind of rate limiting from the server going on.

[2021-03-12 03:02] mikesalz commented on #35
I can give scan_interval a try.  I didn't see it in the documentation.  Would it be something like this?

[code]

[2021-03-12 03:27] uvjustin commented on #35
Yes that's how you would use it.
https://www.home-assistant.io/docs/configuration/platform_options/
I didn't document it here because it's really inherited from HA, and I think most users should just stick to the default of 30.

[2021-03-12 16:37] mikesalz commented on #35
Well, I tried `scan_interval` this morning but it didn't make a difference. :(

[2021-03-12 20:13] nuclearheli opened #36 "Cannot arm"
Alarm.com integration, ADT. I integrated the code and have a working card on my panel. It successfully logs into alarm.com. When I restart HA I see a successful login on my alarm.com activity monitor. It gather's the correct state of the alarm and shows the usual buttons for Arm Home, Arm Away and Arm Night. Also has one for custom bypass. Not using a code at this time.

Issue: cannot arm the syst

[2021-03-13 06:50] uvjustin commented on #36
Check that the `force_bypass`, `no_entry_delay`, and `silent_arming` options match (roughly - the text might be slightly different) the settings you use to arm from the portal.

[2021-03-13 22:11] nuclearheli commented on #36
Thank you for your response, the issue has been resolved. The force_bypass was the problem. Disabling this eliminated the issue. On another topic, is there any way to get the keypad to come up on the screen only after pushing one of the arming features, or when the disarm is pressed. I must have the code feature for the display but it takes up a lot of real-estate on the panel. It would be nice to

[2021-03-14 18:48] xtacle101 commented on #35
I do not use ADT

I removed the old component, which at least helped in removing the multiple attempts, but i do still see a lot of failed attempts using just the current component. I'll try increasing the scan_interval to 60 as well to see if that improves things.

appreciate all your work @uvjustin keeping this integration alive!

[2021-03-15 12:55] xtacle101 commented on #35
still lots of errors and warnings:

[code]

[code]

[code]

[2021-03-22 13:43] mikesalz commented on #35
I was hoping this was a temporary issue, but it has been happening in my HA installation for two weeks.  139 occurrences just since yesterday evening.  @uvjustin if/when you have time to look into this, I can provide a temporary login for you to test with.  I am happy to help in any way.  Just let me know!  Thanks!

[2021-03-22 15:53] uvjustin commented on #35
I won't have time to look at this for at least a couple of weeks. Your logs look like it rarely happens back to back, so it really shouldn't affect usability - maybe just ignore the error for now?

[2021-03-22 15:55] uvjustin commented on #36
That's more of a HA question - try the forums https://community.home-assistant.io/

[2021-03-22 15:55] #36 closed

[2021-03-31 06:01] uvjustin commented on #35
Actually it's not related but I'll still have a quick look to see if I can find anything.

[2021-03-31 11:36] mikesalz commented on #35
Hey @uvjustin !  So, get this... Until this Monday, I had a Fios G1100 modem connected to my Orbi mesh system (in AP/bridge mode).  On Monday I had Frontier Fios bump up my internet speed.  As part of the internet upgrade, I decided to ditch the G1100 and went straight to the Orbi.

Now that the Orbi handles DHCP, the error has all but disappeared!  I have only received it 2-3 times since the chan

[2021-03-31 12:03] uvjustin commented on #35
Makes sense - seemed like a networking issue

[2021-03-31 13:21] xtacle101 commented on #35
very interesting... i've also got a Orbi Mesh system in AP mode for my Wi-Fi. I have a different router\firewall, which acts as my DHCP server, but seems interesting there's a common item there.

same, no changes during the time this popped up.

I disconnected my satellite and restarted my security panel to ensure the panel connects to the closest Wi-Fi node. I've received the error once since tha

[2021-03-31 13:36] mikesalz commented on #35
@xtacle101 If the issue continues for you, it might be interesting to see what happens if you bypass your other router and use the Orbi for DHCP.  Although, I realize what a pain in the butt that can be.  I had a bunch of devices with static internal IPs, and I had to reconfigure most of them after the changeover.

[2021-03-31 14:38] xtacle101 commented on #35
@mikesalz my router currently has reservations for every device on my network, so all devices have/had consistent IPs. Haven't had any changes there.

[2021-03-31 14:55] uvjustin commented on #35
Yes, it's only communicating on the LAN.
I mentioned earlier that I suspected a DNS issue. See https://www.google.com/search?q=orbi%20dns%20issue

[2021-03-31 14:56] uvjustin commented on #35
Yes, it's only communicating on the WAN.
I mentioned earlier that I suspected a DNS issue. See https://www.google.com/search?q=orbi%20dns%20issue

[2021-03-31 18:07] #35 closed

[2021-03-31 19:04] uvjustin commented on #35
Still, this most likely has to do with your network and not the component.

[2021-03-31 20:00] xtacle101 commented on #35
@cjeffcoat80 do you have a pihole or similar DNS blackhole on your network? When I find time, that's where I'm looking next. That and the Orbi issue. Mine Orbi setup is only running as an AP and the device where Home Assistant runs doesn't touch Wi-Fi, but still an interesting coincidence.

[2021-04-01 02:00] cjeffcoat80 commented on #35
Not that I am aware of. I have 2 APs that I am using. My home assistant does get access to the web. I can't see it being my network bc everything else is fine and the website works flawlessly.

[2021-04-03 05:22] westerncanada commented on #35
First off thanks for this component, it's absolutely amazing and I love it.

I'm seeing the same thing as well.

No Orbi here. I'm using Edgerouters and HP procurve network gear.

I'm running HA on a Pi 4 4GB, on a external SSD in a venv, without DNS blockers. CPU and memory use is light.

Wired Ethernet only.

I've set the Pi to use my local pair of BIND recursive servers.
Nothing on the resolver

[2021-04-03 18:46] uvjustin commented on #35
@westerncanada How often are you getting this error?
I can change the logger to output more debug info, but that change would be in the in the `pyalarmdotcom` library. You'd have to install a custom version of the `pyalarmdotcom` library. If you're fine with that I can set up a new branch of the `pyalarmdotcom` library and you could try to look at that output.
Can you use a tool like smokeping to

[2021-04-04 04:54] sdi72 opened #38 "alarmdotcom entity not available in alarm panel card with 2fa off"
I installed from hacs and followed setup
Logged into alarm.com, setup 2fa, found key
Setup config.yaml and restarted
Everything worked and I could add the entity in the alarm panel card
BUT
I was getting a phone notice of web login every 30 seconds

Logged into alarm.com and disabled 2fa
Restarted HA and received (1) phone notice of web login
Entity no longer available in alarm panel card

[2021-04-04 15:14] cjeffcoat80 commented on #35
is there any way you can extend the amount of time it takes to update from 10 seconds to maybe 20 or 30 seconds in your code?

[2021-04-04 17:45] sdi72 commented on #38
2fa still disabled and still getting alerts every 30 seconds of web login. I can disable the alerts but concerned alarm.com will disable access due to login frequency. Removed from config.yaml until resolved.

[2021-04-04 18:20] uvjustin commented on #35
@cjeffcoat80 There isn't a 10 second update limit in the code. The 10 second slow update warning is hard coded into the HA entity helper and will fire when a component is slow to update. From the log messages you post, it looks like HA asks the alarm component to update, then it sends a message after 10 seconds saying the update is slow, and then about 4-5 seconds later (ie 15 seconds after the up

[2021-04-04 18:29] uvjustin commented on #38
This is not an issue with the component. The component works by logging in to the portal for you to keep HA updated with the system status. If you have it set up to send you alerts upon login, you will end up getting a lot of alerts.

[2021-04-04 20:38] sdi72 commented on #38
Thank you for the reply, and I agree the component works by logging in.
The statement above indicates it is normal for alarmdotcom to need to re-login every 30 seconds (to keep HA updated). I was hoping there was a "keep logged in" or other setting to reduce this need. I am concerned I'll be flagged and disabled for that much activity, like API restrictions. I would prefer to keep new web login no

[2021-04-05 07:09] uvjustin commented on #38
I haven't heard about anyone who has had their account disabled using the default settings.

[2021-04-05 07:09] #38 closed

[2021-04-16 15:27] SkyHyperV opened #39 "cannot load state data from Alarm.com"
Is the issue below normal? My alarm still operates via my automations but curious if I'm missing something that needs to be configured to remove the error.

WARNING (MainThread) [homeassistant.helpers.entity] Update of alarm_control_panel.alarm_com is taking over 10 seconds
ERROR (MainThread) [pyalarmdotcomajax.pyalarmdotcomajax] Can not load state data from Alarm.com

[2021-04-16 16:04] aechelon commented on #39
Oddly I saw the same error yesterday evening, after which I was unable to set the alarm state.
Restarting HA restored the ability to set the alarm state, however I'm seeing this in the log:

Logger: pyalarmdotcomajax.pyalarmdotcomajax
Source: /usr/local/lib/python3.8/site-packages/pyalarmdotcomajax/pyalarmdotcomajax.py:135
First occurred: 8:31:54 AM (295 occurrences)
Last logged: 10:59:24 AM

Unab

[2021-04-16 16:45] uvjustin commented on #39
@SkyHyperV this is the same as what was asked in #35. It's quite normal to see this message a handful of times a day, but any more than that and I would look into connectivity problems on your HA machine.
@aechelon have you enabled 2fa and updated your config with the cookie? Just yesterday my portal finally prompted me to use 2fa. Only clicking skip would probably result in errors like what you a

[2021-04-16 16:56] aechelon commented on #39
@uvjustin, thanks for the heads up.  Although the Brinks site has a 2FA setup option, it hasn't prompted with the nag screen yet.
Would you recommend setting it up even if it's not prompting for it?

[2021-04-16 17:05] uvjustin commented on #39
@aechelon I would just go ahead and do it since it only takes a minute or two and it seems like eventually all the portals will nag for 2fa.

[2021-04-16 18:22] aechelon commented on #39
@uvjustin yep, that was it, thanks!

[2021-04-17 06:50] uvjustin commented on #39
@aechelon Should we add some kind of notice/troubleshooting section to tell users to try 2FA if they encounter errors?
Regarding the "Can not load state data" message, I will probably lower the log level to `Warning` or even `Debug`. I think most people will have the occasional connection error from time to time and `Error` messages seem to freak people out. Any thoughts on that?

[2021-04-17 18:17] firstdominator commented on #35
Exactly same issue here. Router settings did not changed for the last 2-3 years. No problem before.
Anyone found a solution for this?

Also when I look into my custom_components folder I have one folder called "alarmdotcom" and one folder called "alarmdotcomwebapi". I'm just concerned about the second one.. should it be there? Or should I delete that folder?

Thanks for all your help.

[2021-05-11 15:59] adrian97c commented on #39
Will this work for SmartThings?

[2021-05-11 16:52] uvjustin commented on #39
This is a custom component for Home Assistant - it has nothing to do with SmartThings unfortunately.

[2021-05-11 16:52] #39 closed

[2021-07-02 13:35] pdobrien3 opened #40 "Connected Car Feature Request"
Curious if there is any interest in adding this:
https://support.suretyhome.com/t/getting-started-with-alarm-com-connected-car/13993

[2021-07-10 19:59] bkr1969 opened #41 "alarmdotcom"
Is this component working at all?  I installed through HACS but there is no alarm_control_panel in my list of entities.

[2021-07-10 21:29] fredclausen commented on #41
Works fine for me and has been doing for quite some time.

[2021-07-10 21:41] adamyoung3 commented on #41
Be sure to input the yaml configuration. If your not using 2fa, I suggest you add a new account to alarm.com and enable 2fa on that make it a dedicated home assistant account.

Sent from my iPhone

[2021-07-11 00:31] bkr1969 commented on #41
I have 2fa on my account. I have the three lines added to my config. I’ve reinstalled and re-started multiple times but there is no alarm_control_panel entity anywhere. Is there anything else I need to do when installing besides adding to the config?

[2021-07-12 14:44] aechelon commented on #41
Working fine for me as well.
Can you see the custom component directory listed in your config directory (i.e. config\custom_components\alarmdotcom)?
What does your config look like?
Do you see any warnings in the logs that might indicate that the component is being started?

[2021-07-12 19:23] bkr1969 commented on #41
I do see the alarmdot com folder in the custom components directory. config is:
``alarm_control_panel:
  platform: alarmdotcom
  username: bkr1969
  password: !secret alarm
``
I see absolutely nothing relating to alarmdot com in any log

[2021-07-13 17:52] bkr1969 commented on #41
So, I know the integration is installed because when I went to HACS today, I got a message to update the integration. I did, restarted but still no alarm_control_panel in my list of entities.

[2021-07-14 15:58] bkr1969 commented on #41
Does anyone have any idea? It bothers me that my alarm system doesn't work anymore, but it bothers me more that apparently this integration is working for others.
I added the integration through HACS and added the three lines to my config file. I restarted HA but I have no alarm_control_panel entity and cannot add an alarm card to my dashboard.  What step am I missing?  I initially thought the pro

[2021-07-14 17:09] grayjetmedia opened #42 "Arming without code input"
Good Afternoon.  Awesome plugin. I've been attempting to get this plugin to allow for arming the alarm without inputting the code and am having zero luck.  I am confident the code in the code section is correct.

Configuration.yaml looks like this:

  platform: alarmdotcom
    username: !secret alarmdotcom-username
    password: !secret alarmdotcom-password
    code: !secret alarmdotcom-code
    f

[2021-07-15 20:32] bkr1969 commented on #41
Now I'm getting this error:
Platform error alarm_control_panel.alarmdotcom - cannot import name 'AlarmdotcomProtection1' from 'pyalarmdotcomajax' (/config/pyalarmdotcomajax.py)

Where even is the pyalarmdotcomajax.py file? I don't see it anywhere in the repository.

[2021-07-16 18:56] bkr1969 commented on #41
OK...so I never could find my 2FA cookie (probably could if I spent a little more time/effort) so I disabled 2FA on my account and the integration works fine.

[2021-07-16 19:22] dinomite commented on #41
I don't have 2FA on my account, but I did get the `twoFactorAuthenticationId` cookie. This component doesn't work for me with or without the cookie specified in the configuration. The error I get is:

[code]

[2021-07-18 16:03] StarFox2873 commented on #42
Just remove the code from your yaml.  The force bypass, no entry and silent arming arent always compatible so try it without that.

alarm_control_panel:
  - platform: alarmdotcom
    username: Yourusername
    password: !secret alarmdotcom
    # The below parameters are optional
    #  code: "01234"
    # force_bypass, no_entry_delay, and silent_arming are not supported on all systems/providers. S

[2021-07-23 07:54] uvjustin commented on #40
Looks pretty neat. Unfortunately I won't be getting one anytime soon so will be hard for me to do anything - happy to look at PRs for this though.

[2021-07-23 07:59] uvjustin commented on #41
@bkr1969 Glad you got it working.
@dinomite Try setting up 2FA on the login you use for the component.

[2021-07-23 08:02] uvjustin commented on #42
@grayjetmedia Did you get it working? As @StarFox2873 mentioned, remove the "code" section. That is just for if you want to have to enter a code in the frontend to arm/disarm and has nothing to do with the code on the alarm panel.

[2021-07-23 17:40] dinomite commented on #41
@uvjustin That worked, thank you. What do you think about changing the instructions (#43)?

[2021-07-23 18:20] grayjetmedia commented on #42
Yes indeed.  I pulled out the code as described and it's all working as expected.  Thanks to both for following up.

[2021-07-23 18:21] #42 closed

[2021-08-06 16:11] bkr1969 opened #44 "Alarm dot com broken out of nowhere"
From my core logs:
`
2021-08-06 09:47:20 ERROR (MainThread) [pyalarmdotcomajax.pyalarmdotcomajax] Unable to extract system id from Alarm.com
2021-08-06 09:47:20 ERROR (MainThread) [homeassistant.components.alarm_control_panel] Error while setting up alarmdotcom platform for alarm_control_panel
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.p

[2021-08-06 17:32] cecilkootz commented on #44
I have the same issue. When looking at the `pyalarmdotcomajax` source and trying a few options it appears the login works as I get a 200 response but when fetching `availableSystemItems` I get `403 Forbidden`. Perhaps Alarm.com has started blocking these requests?

[2021-08-07 02:32] tcm0116 commented on #44
I'm having a similar issues. Here's my log:
[code]

[2021-08-09 21:37] bkr1969 commented on #44
OK...Just as suddenly as it stopped working last week, it's back up again now.

[2021-08-10 10:12] tcm0116 commented on #44
It is working for me again, as well.

[2021-08-10 18:16] cecilkootz commented on #44
I am still getting the error. Removed, reset, added, 2fa, etc and no luck

[2021-08-20 16:59] bkr1969 opened #45 "Sensor Staus is "Not Monitored""
What does this mean/how do I get them to be monitored?  I know they're monitored on my system but they all show as "off" in HA.

[2021-08-30 06:50] #41 closed

[2021-08-30 06:51] uvjustin commented on #44
Sorry, no idea what happened, but glad it got resolved.

[2021-08-30 06:51] #44 closed

[2021-08-30 06:52] uvjustin commented on #45
Sorry, I have no idea. Maybe some other users have experience with this?

[2021-09-17 19:40] bkr1969 commented on #45
From the core log:
`
2021-09-17 12:40:59 ERROR (MainThread) [pyalarmdotcomajax.pyalarmdotcomajax] Can not load state data from Alarm.com
`

[2021-09-24 17:30] millerjryan opened #46 "Unable to extract ajax key"
[code]

I am facing the above error today.  I can't seem to figure out why is can't extract the ajax key.  This was working last night.

[2021-09-24 17:46] sargonas opened #47 "Tons of template variable warnings in logs"
Ever since HA added the new templating system and turned on warnings for it's variables, my logs are regularly filled every 20 to 30 minutes with a string of warnings, one for each alarmdotcom sensor I have (door openings and motion sensors). As far as I can remember from setting this up, I am *fairly* certain that I did not ever create anything custom that uses this, so I wanted to confirm here i

[2021-09-24 17:57] bkr1969 commented on #45
Anyone have any idea how to pull the states from alarm.com?

[2021-09-24 18:01] bkr1969 commented on #47
I am completely unable to pull the states of my sensors from alarm.com. I repeatedly get these errors:
[code]
and all of my binary sensors show as off regardless of whether the door/window is open or closed.  How did you even get the states to begin with?

[2021-09-24 18:04] sargonas commented on #47
Oh, interesting. I don't know really... mine has "just worked" as expected ever since I installed it?

I do know that the online system provides slightly different formatted info depending on which specific service provider and platform you have. In my case it is the protection1  sub-entity of ADT￼￼

[2021-09-24 18:55] millerjryan commented on #46
I am blind, and my password was off.

[2021-09-24 18:55] #46 closed

[2021-09-24 19:11] bkr1969 commented on #47
I bet that's the issue.  I'm through Brinks.

[2021-09-24 19:18] bkr1969 commented on #45
Form a comment in another issue, I wonder if this has anything to do with my provider being Brinks.

[2021-09-28 00:03] sargonas commented on #47
Found the issue, it was actually some custom code I dropped in my configuration.yml EONS ago and forgot about, and had no idea was there. Was my fault all along!

[2021-09-28 00:03] #47 closed

[2021-10-25 14:12] Markian777 opened #49 "New to Home Assistant"
Hello all! Im new to Home Assistant and I have been at ADC for 3 days now and have had to restart my raspberry pi because I deleted something I shouldn't have.

Anyways! Could I get some clarification about how to set this up more?

Where and what format does the "Description of configuration parameters" need to go?

I have everything downloaded via HACS and typed this into configuration..yaml:

#

[2021-11-02 15:25] #49 closed

[2021-11-02 15:29] uvjustin commented on #27
Closed via https://github.com/uvjustin/alarmdotcom/pull/48

[2021-11-02 15:29] #27 closed

[2021-11-05 02:56] shawnshyguy opened #50 "Camera & thermostat support"
Hi,
Currently with ADC, the things I use most are camera feeds (indoor cam + doorbell cam) and thermostat control.
I'm not sure how much of this can be done without a proper API, but any way to get camera feeds and / or thermostat controls would be great. Thanks!

[2021-11-05 17:28] bfish2 commented on #49
I implemented my alarmdotcom a couple days ago, but don't see any state changes in any of my door sensors.  I do see state changes in my motion sensor, but it appears to only see some of the motion detected.  I found this issue log and triple checked my config.yaml entries against these above and they are letter perfect.  Any thoughts what else might be going on or where else I should be looking?

[2021-11-05 22:05] Markian777 commented on #49
This might sound silly, but if you leave your door open for—let’s say 10-15 minutes—will it show a change of state?

I notice that Alarm.com is incredibly slow to update the states, and it has nothing to do with the integration, but just Alarm.com.

[2021-11-05 22:11] rintaran commented on #49
I can confirm, alarm.com is very slow to update states. I'm generally seeing a 5-10 minute delay, so not as bad as Markian, but still quite significant.

[2021-11-05 23:18] bfish2 commented on #49
Yes, it does seem slow in the alarm.com app on my phone, but the events are showing up there within a minute or two .  Yet, I'm still not seeing any opens on either of the doors that I have been using all day on HA.  I am looking in History.  Should I be exploring somewhere else?

[2021-11-05 23:24] rintaran commented on #49
I noticed that unless the door was open for 5-10 minutes, it won't even register as having been opened via HA. It's a significant delay, and requires it to be open for a consistent period. This may have something to do with how this addon scrapes the site. I imagine if it scraped it too often, it would get flagged as some form of malware, so a 10-minute delay between checks may be part of the codi

[2021-11-05 23:26] bfish2 commented on #49
Thanks all!  I will give it a try leaving the door open a while.  If that is the case it kind of defeats the purpose of using alarmdocom for me.  Oh, well, live and learn!

[2021-11-06 16:35] uvjustin commented on #50
I don't have my cameras or thermostat through ADC, so I won't be able to add any thing myself. Happy to look at any PRs that add this functionality.
However, if you have the option I would recommend integrating everything directly through HA instead of going through ADC and only use ADC for the alarm functionality. I think that makes the most sense as HA is a much more powerful home automation too

[2021-11-06 16:45] uvjustin commented on #49
I'm not sure what the delay from devices to the ADC portal is, and the delay may actually differ by system or even by device. The integration actually fetches the state from the portal every 30 seconds, so it's not instantaneous but it should add more than a minute to any other delay. Of course this is not too suitable for some purposes, like detecting doors or windows opening. I think the best us

[2021-11-19 20:57] firstdominator opened #51 "No communication with Alarm.com"
No error on logs or anything related to Alarmdotcom.
On home assistant I'm able to arm disarm within home assistant, everything acts nromal but doesn't seem to send command to my actual alarm.com account. Also if I arm/disarm from alarm.com, in home assistant doesn't react.

Like if nothing is communication between alarmdotcom and alarm.com website.
This was working fine yesterday. Stopped working

[2021-11-19 21:11] firstdominator commented on #51
After uninstalling the hacs addons and reinstalling from scratch all working now.
THahnks

[2021-11-19 21:11] firstdominator commented on #51
After reinstalling everything from scratch its working. THanks

[2021-11-19 21:11] #51 closed

[2021-11-22 16:26] jeremysouthard opened #52 "LinkInteractive Alarm.com error on restart and constant login messages"
I've added the alarmdotcom integration via HACS and followed the instructions to modify the configuration.yaml file.  Here's the relevant section:
[code]

I have confirmed the username and password in my secrets.yaml are correct.

When I restart Home Assistant, I get the following log entries:
[code]

And my email gets spammed with emails letting me know there was a successful login.  After 3 rest

[2021-11-28 15:47] uvjustin commented on #52
Did you configure 2FA?

[2021-11-28 17:13] jeremysouthard commented on #52
I do not have 2FA setup.

[2021-11-28 17:24] uvjustin commented on #52
Try setting it up, quite a few similar issues in the past have been resolved that way.
https://github.com/uvjustin/alarmdotcom/issues/34
https://github.com/uvjustin/alarmdotcom/issues/39
https://github.com/uvjustin/alarmdotcom/issues/41

[2021-11-29 06:41] jeremysouthard commented on #52
Setting up 2FA worked, thanks.  Sorry my issue search terms were centered around the carrier instead of the error.  I should have found that myself without having to open an issue.

[2021-11-29 06:41] #52 closed

[2021-12-01 00:43] rixmix123 opened #53 "Unable to extract system id from Alarm.com"
I have everything set up and I am getting a notification that I am logged in when HA reboots, but I am not showing the alarm panel and I am getting this error:
2021-11-30 19:39:11 ERROR (MainThread) [pyalarmdotcomajax.pyalarmdotcomajax] Unable to extract system id from Alarm.com
2021-11-30 19:39:11 ERROR (MainThread) [homeassistant.components.alarm_control_panel] Error while setting up alarmdotcom

[2021-12-01 00:54] rixmix123 commented on #53
Ok it was the cookie, my apologies working now!

[2021-12-01 00:54] #53 closed

[2021-12-04 09:27] vegardengen opened #54 "Lock support"
Hi,

I was going to ask about supporting locks. Then, I started looking at the code.

I have now made this dual personality, both a home assistant lock and an alarm. The accompagnying pyalarmdotcomajax also had to be modified.

This now works in my home assistant, but I need to wrap it up and maybe do some small refactoring before I submit a pull request.

[2021-12-04 12:10] pdobrien3 opened #55 "Change device_state_attributes to extra_state_attributes"
Just a heads up that on 2021.12.0b0, seeing these errors:

Logger: homeassistant.helpers.entity
Source: helpers/entity.py:543
First occurred: December 3, 2021, 9:07:53 PM (2405 occurrences)
Last logged: 7:08:25 AM

Entity alarm_control_panel.alarm_com (<class 'custom_components.alarmdotcom.alarm_control_panel.AlarmDotCom'>) implements device_state_attributes. Please report it to the custom compone

[2021-12-04 12:18] pdobrien3 commented on #55
I changed:
[code]
to:
[code]
and it silenced the error.  Still testing if it broke anything else.

[2021-12-08 04:09] firstdominator opened #57 "Not connecting anymore"
Logger: pyalarmdotcomajax.pyalarmdotcomajax
Source: /usr/local/lib/python3.9/site-packages/pyalarmdotcomajax/pyalarmdotcomajax.py:375
First occurred: 11:09:10 PM (1 occurrences)
Last logged: 11:09:10 PM

Arming parameters: force_bypass = True, no_entry_delay = True, silent_arming = True

And this error as well.

Logger: pyalarmdotcomajax.pyalarmdotcomajax
Source: /usr/local/lib/python3.9/site-pack

[2021-12-08 07:44] uvjustin commented on #57
Probably the same as https://github.com/uvjustin/alarmdotcom/issues/32 . Also see the comment regarding those options in the example configuration.yaml
Please use the HA forum for tech support questions - github issues should be for bugs.

[2021-12-08 07:44] #57 closed

[2021-12-08 15:11] bkr1969 opened #58 "Integration quit working again"
No changes in version or core or anything else, just stopped working.  On HA restart the entity is "not available."

[2021-12-08 15:44] uvjustin commented on #58
Nothing has changed in this component either.
You haven't included much information, but this is likely similar to many other issues including #34, #39, #41, and #52.
Please set up 2FA as [detailed in the readme](https://github.com/uvjustin/alarmdotcom#two-factor-authentication), and please use the [HA community site](https://community.home-assistant.io/c/third-party/15) for future troubleshooting

[2021-12-08 16:06] bkr1969 commented on #58
Apparently my security company suddenly decided to require 2FA without letting me know.  I added the cookie and it worked. Thanks!

[2021-12-09 03:28] champdemars opened #59 "Unable to arm with Counterforce"
Hello

I am trying to arm my system with your integration but it does not work. However I am perfectly able to disarm, including inside an automation.

Since I don't need to use my code fo arming my system, I did not added it in my configuration. I tried with the code without success.

I am subscribed with Counterforce in Canada. I'm using 2FA.

Here is my configuration.yaml:

[code]

[2021-12-09 15:41] champdemars commented on #59
Extra information in case you nee it, from my home assistant.log:

[code]

Current state of my entity:

[code]

[2021-12-13 13:19] HazardousRat opened #60 "Alarmdotcom .. state = unknown"
I'm running core-2021.12.1 .. It appeared to be working fine after the recent 12.0 update, not sure if 12.1 caused the issue.  I have restarted and no change, still indicates state status is unknown.  Can someone please look into this and fix?

[2021-12-13 13:56] maniscalcojohn commented on #60
I’m also seeing lots of errors this morning. The state is incorrect.

Logger: pyalarmdotcomajax.pyalarmdotcomajax
Source: /usr/local/lib/python3.9/site-packages/pyalarmdotcomajax/pyalarmdotcomajax.py:260
First occurred: 6:09:59 AM (213 occurrences)
Last logged: 7:53:59 AM

Unable to extract sensor status from Alarm.com

[2021-12-13 13:57] acockburn commented on #60
This is happening to me too as of this morning, HASS is reporting:

Logger: pyalarmdotcomajax.pyalarmdotcomajax
Source: /Users/acockburn/venv/hass/lib/python3.9/site-packages/pyalarmdotcomajax/pyalarmdotcomajax.py:260
First occurred: 8:48:36 AM (8 occurrences)
Last logged: 8:52:06 AM

Unable to extract sensor status from Alarm.com

and

Logger: homeassistant.helpers.entity
Source: custom_component

[2021-12-13 15:02] bkr1969 commented on #60
Same.  Unable to arm or disarm by automation.
``
KeyError: 'stateText'
2021-12-13 07:59:37 ERROR (MainThread) [pyalarmdotcomajax.pyalarmdotcomajax] Unable to extract sensor status from Alarm.com
2021-12-13 07:59:37 ERROR (MainThread) [homeassistant.helpers.entity] Update for alarm_control_panel.alarm_com fails
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/

[2021-12-13 15:27] mikesalz commented on #60
Same here :(

[2021-12-13 15:44] mikesalz commented on #60
I agree with @bkr1969.  My issues started this morning while I was still on 2021.11.5.  I upgraded to 2021.12.1 today and am still experiencing the problem.

[2021-12-13 15:48] davidbrenner1 commented on #60
Same issue...had the problem on both 2021.12 and 2021.12.1.

Logger: homeassistant.helpers.entity
Source: custom_components/alarmdotcom/alarm_control_panel.py:160
Integration: alarmdotcom (documentation, issues)
First occurred: 9:33:00 AM (30 occurrences)
Last logged: 9:47:30 AM

Update for alarm_control_panel.alarm_com fails

[2021-12-13 16:03] uvjustin commented on #60
I see it too. Let me try to push a fix

[2021-12-13 16:24] uvjustin commented on #60
Pushed a new version, try it.
I don't use hacs so not sure if it's updated there. I can check that later

[2021-12-13 16:37] davidbrenner1 commented on #60
I forced a re-download and HACS and restarted and that fixed it.  Thanks for the quick turnaround @uvjustin.  Really appreciate it.

[2021-12-13 16:38] acockburn commented on #60
Sounds promising - I'll give it a try this evening and report back.

[2021-12-13 16:38] bkr1969 commented on #60
Also updated via HACS and it's working now.  Thanks!

[2021-12-13 16:57] acockburn commented on #60
Yes, all is well here too - thanks for the super-fast turnaround @uvjustin, much appreciated!

[2021-12-13 18:10] uvjustin commented on #60
Great, glad it worked!

[2021-12-13 18:10] #60 closed

[2021-12-13 18:11] uvjustin commented on #55
Fixed in v0.1.11

[2021-12-13 18:11] #55 closed

[2021-12-13 18:18] uvjustin commented on #59
Please see #57 and #32 as well as the comment about the `force_bypass`, `no_entry_delay`, and `silent_arming` parameters here: https://github.com/uvjustin/alarmdotcom#description-of-configuration-parameters
I don't mean to be rude, but I can't keep spending time answering the same questions over and over again. Please use the HA forums for tech support.

[2021-12-13 18:18] #59 closed

[2021-12-13 18:19] #58 closed

[2021-12-13 18:44] Raul-7-7 opened #61 "device_state_attributes in Logs (after latest version)"
Hi, I upgraded to the latest version (0.1.11 - d4b5f84) , and noticed this entry in my log. Everything seems to be working, so not a bug, just reporting it!
PS) Thank you for this awesome integration.

**Entity alarm_control_panel.alarm (<class 'custom_components.alarmdotcom.alarm_control_panel.AlarmDotCom'>) implements device_state_attributes. Please report it to the custom component author.**

H

[2021-12-13 18:45] Raul-7-7 commented on #54
Thanks for this.

[2021-12-13 18:48] Raul-7-7 commented on #61
https://github.com/uvjustin/alarmdotcom/issues/55 same issue, however it is not fixed for me at least on the latest version.

[2021-12-13 18:53] uvjustin commented on #61
Thanks, that's odd, I made the change and even put it in the changelog, but I guess somehow the change got lost. I'll update it now, but I won't change the version so it might not be updated in HACS until later.

[2021-12-13 18:53] #61 closed

[2021-12-13 18:57] Raul-7-7 commented on #61
Thx! @uvjustin
If I recall correctly, HACS is not going to pick up unless you change version, so if anyone wants to update (that has updated already), best is re-install in HACS once the changes are applied.

[2021-12-14 22:33] vegardengen commented on #50
@shawnshyguy if you want to take a stab at it, have a look at my PR, [https://github.com/uvjustin/alarmdotcom/pull/56](https://github.com/uvjustin/alarmdotcom/pull/56)

You also need the corresponding [https://github.com/uvjustin/pyalarmdotcomajax/pull/12/](https://github.com/uvjustin/pyalarmdotcomajax/pull/12/)

It is my take at implementing lock support for alarm.com, and I believe it largely ou

[2021-12-19 15:01] rintaran opened #62 "beautifulsoup errors on HA 2021/10 - HA 2021/12"
So I have this alarmdotcom integration fully functional on HA 2021/9, however, more recent versions seem to be causing issues.
I get the following related errors:

Logger: homeassistant.config
Source: config.py:883
First occurred: 9:36:11 AM (1 occurrences)
Last logged: 9:36:11 AM
Platform error: alarm_control_panel - Requirements for alarmdotcom not found: ['beautifulsoup4==4.9.3'].

Logger: home

[2021-12-21 14:46] uvjustin commented on #62
Thanks for filing the issue. I guess this is probably because you use the HA component scrape, and beautifulsoup4 was bumped to a newer version in this https://github.com/home-assistant/core/pull/56764 .
We'll have to bump the version here to match the version there. I'm going to wait another week since we have some other PRs here to push through at the same time.

[2021-12-24 15:35] rintaran commented on #62
The latest update appears to have solved this issue. Thanks @uvjustin !

[2021-12-24 15:36] #62 closed

[2021-12-26 15:43] #54 closed

[2022-01-07 15:16] Nealtron opened #64 "Releases and Release Notes"
Would it be possible to publish releases with release notes in order to populate the change-log within HACS?

How alarmdotcom updates appear to HACS right now:
![image](https://user-images.githubusercontent.com/6655394/148564180-278cc2fa-8d71-4e84-8782-6ff9fd469aa0.png)

How other add-ons appear in HACS:
![image](https://user-images.githubusercontent.com/6655394/148564242-0cca3ce4-e1f4-43d0-9156-f

[2022-01-07 21:07] kitracer opened #65 "Alarm Trigger"
Is there a way to see when a state of "alarm" is active? I'm only able to see disarmed, armed_home and armed_away.
Thanks!

[2022-01-20 22:01] elahd commented on #65
Are you comfortable with using the command line? You could help by sharing a some of the data returned by Alarm.com's servers when your alarm is active. I can follow up with instructions if you're able to help.

With that said, keep in mind that the actual Home Assistant integration works by requesting updates from Alarm.com every couple of _minutes_. I'm not sure that it's valuable or otherwise a

[2022-01-20 22:45] kitracer commented on #65
I think I'll heed your warning about the delay.
My planned workaround is to have the alarm.com system trigger a MIMOlite
when the system is in duress. The MIMOlite then turns on our siren and also
triggers a Shelly 2.5 connected to Home Assistant. I should then be able to
run an automation based off of the status of the Shelly 2.5.
What do you think?
Thanks again for the help!

On Thu, Jan 20, 202

[2022-01-21 02:54] uvjustin commented on #65
The component uses polling, and the default polling interval for alarm panels in Home Assistant is 30 seconds. I agree with what was mentioned above - this add on should be used for convenience only.
As for what you mentioned above, I would leave the siren connected directly to your home assistant and connect the MIMOlite in parallel with the siren. The MIMOlite should be able to talk directly to

[2022-01-21 03:28] kitracer commented on #65
Okay, sounds good. Thanks again!

On Thu, Jan 20, 2022 at 6:55 PM uvjustin ***@***.***> wrote:

[2022-01-21 03:34] uvjustin commented on #65
Sorry I mistyped that! I meant that your siren should be connected directly to your alarm system.

[2022-01-21 04:44] kitracer commented on #65
I knew what you meant :)
We're in a 20,000ft warehouse and the panel siren wasn't loud enough. We
decided instead of running a wire from the panel (for now) to an external
siren to just use the MIMOlite triggered by alarm.com. The MIMO turns on a
very loud siren, an air raid siren and a bunch of cop LED light bars. We've
had 3 break ins in a year so we're trying everything.

On Thu, Jan 20, 2022 a

[2022-01-21 21:23] elahd commented on #64
I re-published the most recent release via GitHub releases... although it looks like this is forcing everyone to perform a needless update.

So consider this fixed on a go-forward basis 🤦🏼‍♂️.

[2022-01-21 21:23] #64 closed

[2022-01-21 21:33] elahd commented on #45
If you're comfortable with the command line, try using the CLI for pyalarmdotcomajax. You'll need Python >=3.9 installed.

1. Install pyalarmdotcomajax v0.2.0-beta via pip: `pip install pyalarmdotcomajax==0.2.0b0`
2. Run `adc -u YOUR_USERNAME -p YOUR_PASSWORD -c YOUR_2FA_COOKIE -v`

(Skip the 2FA parameter if you don't have two factor authentication enabled.)

That will dump the raw server respons

[2022-01-21 21:38] elahd commented on #40
@pdobrien3 Do you have one of those? If you do, can share a dump of your alarm.com response data to help us understand how those devices are handled?

You'll need some comfort with the command line to do this. You'll also need Python >=3.9 installed.

1. Install pyalarmdotcomajax v0.2.0-beta via pip: `pip install pyalarmdotcomajax==0.2.0b0`
2. Run `adc -u YOUR_USERNAME -p YOUR_PASSWORD -c YOUR_2FA

[2022-01-21 23:18] Nealtron commented on #64
Thank you!

[2022-01-21 23:29] pdobrien3 commented on #40
Sorry. I don’t have one yet. I prob wouldn’t get one until it is supported.

[2022-01-22 03:09] #65 closed

[2022-01-22 16:41] elahd commented on #50
Here's some more info on Alarm.com's camera feeds: https://ahmadnassri.com/blog/alarm-com-camera-vulnerability-exposed/. Looks like they use an MJPEG stream wrapped in encryption. Given the complexity, this is probably best left to someone who owns ADC cameras.

Thermostats are probably easier to implement. @shawnshyguy, if you're down to do some legwork, can you create a new issue for thermostat

[2022-01-23 06:25] mjmicks opened #69 "Stuck on Loading Data"
Fresh install of Home Assistant OS on RPi 4. After setting up Alarmdotcom using these steps, homeassistant.local gets stuck in the Loading Data screen when attempting to login. So far, this has happened 2 times. First time I re-flashed SD card thinking it was a different integration causing the error. Setup as new, installed Alarmdotcom again through HACS custom components method, and everything g

[2022-01-23 15:33] elahd commented on #69
Are you able to check your system logs for errors?

Configuration -> Settings -> Logs. If you see an error in the main card on that page for alarmdotcom, click on the error for the details and share that here. If you don't see an error in the card, hit the "Load Full Home Assistant Log" button, then search for "alarmdotcom".

Also, which provider are you using?

Thanks!

[2022-01-23 16:32] Somapolice opened #70 "Error and not loading since upgrade to 0.2"
Logger: homeassistant.config_entries
Source: config_entries.py:344
First occurred: 11:24:28 AM (2 occurrences)
Last logged: 11:25:10 AM

Config entry 'None' for alarmdotcom integration not ready yet; Retrying in background

I use Brinks via Alarm.com. Was working fine with old Config.

[2022-01-23 20:17] RB14060 commented on #70
Having the same issue on my setup. Component is just stuck in "Retrying setup" status.

[2022-01-24 01:29] elahd commented on #69
Closing as duplicate of #70

[2022-01-24 01:30] elahd commented on #69
Duplicate of #70

[2022-01-24 01:30] #69 closed

[2022-01-24 04:16] mjmicks commented on #69
I wish I would've saved the logs, but I've since removed the integration from my setup and no longer have access to them. The errors that stood out to me in the logs were related to my Garage Door (cover) control. My ADC account is through CPI Security.

[2022-01-24 04:49] elahd commented on #70
Thanks for reporting. Try this:

1. Update to the latest beta (v0.2.0-beta.2). (The newest beta spits out more verbose logs.)
2. Add the below to configuration.yaml:
[code]
3. Restart Home Assistant.

If you run into an problem, check the Home Assistant logs for anything relayed to `alarmdotcom` or `pyalarmdotcomajax`.

[2022-01-24 16:41] RB14060 commented on #70
Just upgraded and this is what I'm getting now. Not sure if the VIEWSTATE strings have any sensitive info in them or not so I masked them just to be safe, I can provide the full output if necessary. It did properly recognize my provider and pull the User ID as well.

[2022-01-24 17:21] elahd commented on #70
Thanks, @RB14060. Do you have a garage door connected to Alarm.com?

[2022-01-24 17:46] RB14060 commented on #70
No, I don't.

[2022-01-24 19:50] elahd commented on #70
Thanks for that. Try this:

1. Delete the integration from your integrations page.
2. Update the integration to v0.2.0-beta.3
3. Restart Home Assistant
4. Try setting up the integration again.

[2022-01-24 20:25] RB14060 commented on #70
Working now, configured properly and I got the area assignment screen with all my sensors and such. Thanks!

[2022-01-24 21:08] AdventureAhead opened #73 "Version v0.2.0-beta.3 causes Home Assistant loading issues"
Upon configuring version v0.2.0-beta.3 successfully, when the integration is running within HA (not HACS), Lovelace will become stuck on a loading page upon refreshing the web browser or HA app. Disabling the alarmdotcom integration fixes and resolves the loading issue. Re-enabling causes the issue to return.

[2022-01-24 21:09] AdventureAhead opened #74 "Smoke Detector shows as 'Malfunction' in v0.2.0-beta.3"
When v0.2.0-beta.3 is enabled and running, the Smoke Detector binary sensor shows as 'Malfunction'.

[2022-01-24 21:09] Somapolice commented on #70
Fixed with beta 3

[2022-01-24 21:10] Somapolice commented on #70
Fixed with beta 3

[2022-01-24 21:10] #70 closed

[2022-01-24 21:10] AdventureAhead commented on #70
Thank you, the integration now configures successfully with beta.3.

[2022-01-24 21:19] AdventureAhead commented on #73
![Loading](https://user-images.githubusercontent.com/26149219/150866604-8f1ce607-4fbb-4074-8d4c-3b2a28d5b055.png)

[2022-01-24 21:30] AdventureAhead commented on #74
[code]
[code]

[2022-01-24 21:33] AdventureAhead opened #75 "Version v0.2.0-beta.3 - seeing garage door serialization errors"
[code]
[code]

[2022-01-25 01:39] elahd commented on #75
Are you able to enable debugging for the integration to generate more detailed logs?

Add the below to configuration.yaml:
[code]

Also, is this related to #73?

[2022-01-25 01:47] AdventureAhead commented on #75
I haven't worked with the configuration.yaml of HA yet as I'm fairly new to HA, but I will see what I can do.

This is indeed also related to Issue #73.

[2022-01-25 13:41] AdventureAhead commented on #73
This has now been resolved in v0.2.0-beta.4.

[2022-01-25 13:41] #73 closed

[2022-01-25 13:41] AdventureAhead commented on #74
This has now been resolved in v0.2.0-beta.4.

[2022-01-25 13:41] #74 closed

[2022-01-25 14:14] #75 closed

[2022-01-25 18:56] elahd commented on #40
Got it. Someone has to be the first to bite the bullet! Closing until a volunteer with the device comes along.

[2022-01-25 18:56] #40 closed

[2022-01-28 21:17] robin-vandaele opened #77 "Alarm.Com with Readonly User with limited access"
Hi
Could it be possible to enable alarm.com with a user that has no access to the security codes and read-only access to the other parts. That way we can create an API only user with limited access.
Now the integration breaks when we disable code access.

[2022-01-28 22:00] elahd commented on #77
This works for me using a read only account on v0.2.0-beta.5. Which version of the integration are you using? Are you able to share more detailed logs?

[2022-01-29 08:24] robin-vandaele commented on #77
I'm using the latest version.
When I'm using a user who has not "Full" readonly access, but "readonly access to everything but the panel user codes" it doesn't work.

Logger: aiohttp.server
Source: custom_components/alarmdotcom/controller.py:409
Integration: Alarm.com (documentation, issues)
First occurred: 28 januari 2022 22:02:04 (2 occurrences)
Last logged: 28 januari 2022 22:05:59

Error handl

[2022-01-29 23:01] mjmicks opened #79 "Lock status stuck in 'Malfunction'"
Nothing reported in the logs. Lock commands work as expected, but the status continues to only display "Malfunction"

EDIT: running beta 5.

[2022-01-29 23:02] mjmicks commented on #79
Should note: I'm running beta 5

[2022-01-30 01:38] AritroSaha10 opened #80 "Integration does not show up despite being added"
Hi,

After installing the HACS integration, it doesn't seem to appear in the Integration list under "Set up a new integration". However, using the yaml configuration seems to work (though with a warning). Since this is my first time using the integration, is this happening due to a mistake on my behalf or a bug? TIA

Integration list after installing HACS integration:
![image](https://user-images.

[2022-01-30 12:10] travisllwork commented on #80
Just adding to this as I have the same issue.

[2022-01-30 14:12] mjmicks commented on #80
Make sure to clear browser cache and restart HA. Does the trick for me.

[2022-01-30 17:00] AritroSaha10 commented on #80
Worked perfectly, thank you!

[2022-01-30 17:00] #80 closed

[2022-01-31 23:43] nicocoetzee opened #81 "Not finding Intergration?"
Hello -

I installed this via HACS and after the restart, I don't see Alarm.com in the Integration (Configuration) section?

Any help will be appreacted.

Many thanks,
n.

[2022-02-01 01:44] jason-oliver commented on #81
I'm also seeing this issue.  Confirmed its showing as downloaded by HACS, restarted HA, but not showing up when I try to add integration.

[2022-02-01 02:56] DannoPeters commented on #81
I'm having this issue as well. Looking forward to finding a solution.

[2022-02-01 03:27] CastleSeven commented on #81
Same here.

![image](https://user-images.githubusercontent.com/965241/151908781-9ef5d5be-fcc4-469d-b4be-e05a187dc4e3.png)

![image](https://user-images.githubusercontent.com/965241/151908815-1613f1a8-bedf-4910-adf1-c675a18ce771.png)

[2022-02-01 05:00] MvdenE commented on #81
I'm having this issue as well.  Fresh install hass and hacs.

[2022-02-01 05:54] DannoPeters commented on #81
I got mine working!!!!! 😄 🎉
After reading this Reddit post https://www.reddit.com/r/homeassistant/comments/oxdkhi/custom_integration_in_hacs_not_showing_up/

I cleared my web browsers cache and did a hard reset (unplugged) my Home Assistant for a few minutes.

Hopefully, this helps with everyone else's installation issues as well.

Looking really forward to using this integration, thanks to all th

[2022-02-01 14:20] jason-oliver commented on #81
Tried that on my end didn't work for me :(   Still can't see it in add integrations.

[2022-02-01 16:29] mjmicks commented on #81
Clear browser cache and restart HA config. Did the trick for me.

[2022-02-01 16:47] elahd commented on #81
@jason-oliver Can you try:

1. Uninstall the add-in via HACS
2. Restart Home Assistant
3. Clear browser cache
4. Reinstall the add-in via HACS
5. Restart Home Assistant
6. Try adding the integration from the integrations page.

[2022-02-01 17:05] nicocoetzee commented on #81
Hi all.

I unplugged HA to do a reset, uninstalled, clear the browser cache, restarted HA, re-installed, etc. Tried Brave, Chome & Safari, and still don't see it in Integrations:

![Screen Shot 2022-02-01 at 9 03 17 AM](https://user-images.githubusercontent.com/21128291/152015375-a2b58cc1-3697-4e55-a7a1-468ab48493b1.png)

Any additional ideas?

[2022-02-01 17:59] elahd commented on #79
This was fixed as part of uvjustin/pyalarmdotcomajax#31, which just went out as beta 6 of this integration. Can you update and report back?

[2022-02-01 19:09] jason-oliver commented on #81
Done,  Didn't fix it :(

[2022-02-01 19:20] elahd commented on #81
Shoot, sorry. One more thing:

Can you try adding the below to configuration.yaml, restarting Home Assistant, and checking for any alarmdotcom errors in your Home Assistant logs? If you don't see anything at the top of  your logs page, try hitting the "view full logs" button.

[code]

[2022-02-01 19:30] MvdenE commented on #81
![Screenshot_20220201-202754_Home Assistant](https://user-images.githubusercontent.com/89900648/152037560-8087edc5-7615-4bb9-996a-ad643dc96923.jpg)

If have done all the things nothing helped

[2022-02-01 19:40] elahd commented on #81
Ouch.

That warning shows up for all custom components. Have you added the logger text in my last comment to configuration.yaml? That will reveal a lot more data that will help with debugging.

[2022-02-01 19:44] nicocoetzee commented on #81
Hi - I added the debugger and didn't see any additional errors in the log?
![Screen Shot 2022-02-01 at 11 42 15 AM](https://user-images.githubusercontent.com/21128291/152039815-0b89c5c7-51ad-4d27-ac08-cc64d875fe1e.png)
![Screen Shot 2022-02-01 at 11 43 38 AM](https://user-images.githubusercontent.com/21128291/152039818-7aba40c7-f4c2-4bbe-80c7-3b538b2d4a18.png)

[2022-02-01 20:01] kitracer opened #82 "Custom Integration Error"
Ever since v2 beta 1 I intermittently get this error. I just upgraded to beta 6 and still have this problem. Restarting HASS doesn't resolve this.

This error originated from a custom integration.

Logger: homeassistant.config_entries
Source: custom_components/alarmdotcom/controller.py:409
Integration: Alarm.com (documentation, issues)
First occurred: 11:52:40 AM (1 occurrences)
Last logged: 11:52

[2022-02-01 20:16] MvdenE commented on #81
![Screenshot_20220201-211520_Home Assistant](https://user-images.githubusercontent.com/89900648/152044253-8b341810-7c5b-47c7-8966-a2f70c310059.jpg)

Yes I have add it

[2022-02-01 20:23] elahd commented on #81
Ok. I have 4 more ideas:

**Check Integration Version**

There are currently two versions of the integration floating around: the v0.1 series and the v0.2-beta series. The v0.1 version is configured entirely via configuration.yaml, but the instructions no longer show up on the main GitHub page. Take a look at the old instructions page at https://github.com/uvjustin/alarmdotcom/tree/v0.1.12. Follow

[2022-02-01 20:25] elahd commented on #82
Would you mind running the integration for a few days with debugging enabled? This will provide more detailed logs next time you run into this problem. Add the following to configuration.yaml.

[code]

[2022-02-01 21:16] MvdenE commented on #81
I found it. Version check did the trick
I had v0.1 now i have v0.2 beta 6
Clear all cache and there it was

[2022-02-01 21:55] nicocoetzee commented on #81
I dont see the .storage/core.config_entries folder?
![Screen Shot 2022-02-01 at 1 55 19 PM](https://user-images.githubusercontent.com/21128291/152057998-6416d2bc-93a7-4c60-96dc-714402e9d71c.png)

[2022-02-01 22:18] nicocoetzee commented on #81
I would really appreciate it if you could explain the steps you took to get it working.

[2022-02-01 22:19] nicocoetzee commented on #81
I would really appreciate it if you could explain the steps you took to get it working.

[2022-02-01 23:32] mjmicks commented on #79
Updating to beta 6 fixed my lock status. Appreciate all the work!

Sent from my iPad

[2022-02-01 23:36] DannoPeters commented on #81
Are you able to see the Alarmdotcom files in your "custom_components" folder after downloading through HACS?

![alarm_custom_components](https://user-images.githubusercontent.com/22260702/152069433-3f5322e4-844c-42bd-9054-95d3c72020b1.png)

[2022-02-02 01:27] DannoPeters commented on #81
I made up a fresh Home Assistant boot SD for a spare pi4 I had from a drone project.

### What I tried that didn't work ###
1. Installed HACS
2. Rebooted
3. Pulled the AlarmDotCom repo through HACS (v0.1.12)
4. Rebooted as instructed by HACS
5. :-/ Not visisible couldnt find Alarm.com on the list of integrations
6. Tried a hard reboot (unplugging)
7. Cleared my web cache
8. :-( Still not visisible

[2022-02-02 03:30] #79 closed

[2022-02-02 04:32] elahd commented on #77
Thanks. This should be fixed in beta 7. Can you try updating and report back?

[2022-02-02 15:42] nicocoetzee commented on #81
Good morning. I'm running HA OS on a Home Assitant Blue. So not that different from your Pi setup.

This is really weird that it is working for some and the exact same protocol doesn't work for others.

I'll keep on tinkering with it, but don't really know what else to try.

[2022-02-02 18:02] DannoPeters opened #83 "Alarm.com Hundreds of "Successful Web Login" Notifications"
Hello, I just recently installed the AlarmDotCom integration on my Home Assistant OS.
For clarity I am referring to the integration as AlarmDotCom and the alarm system as Alarm.com
I have tried this on v0.1.12 and v0.2.0-beta.7

It was great to see all the Alarm.com sensors on my same dashboard and be able to arm and disarm my Alarm.com panels all from one app (Home Assistant).

But the AlarmDotCo

[2022-02-02 20:11] elahd commented on #83
Are you seeing this behavior in both v0.1 and v0.2?

[2022-02-02 20:13] elahd commented on #81
@nicocoetzee Which version of the Alarm.com integration are you using? v0.1 or v0.2-beta?

[2022-02-02 20:19] nicocoetzee commented on #81
HI @elahd -

It seems HACS is installing 0.1.12? See below. How can I install 0.2?

![Screen Shot 2022-02-02 at 12 17 46 PM](https://user-images.githubusercontent.com/21128291/152230618-d13847ad-500e-4ef5-a21a-3ddcdf30e321.png)

And really thank you for all your help.

[2022-02-02 20:30] robin-vandaele commented on #77
I can confirm I can prohibit access to the panel codes & put everything in Read Only.
Thanks for the supprt.

[2022-02-02 20:30] #77 closed

[2022-02-02 23:29] elahd commented on #81
Sure thing! That'll do it. v0.2 is still in beta and not as reliable as v0.1. If you check the "Show beta versions" checkbox in your screenshot it should appear in the select version dropdown.

[2022-02-02 23:52] nicocoetzee commented on #81
You're AWESOME! That did the trick.
![Screen Shot 2022-02-02 at 3 51 39 PM](https://user-images.githubusercontent.com/21128291/152257302-1ae4a461-b7c5-4fc2-9d91-c8c5e897100c.png)

[2022-02-03 00:03] nicocoetzee commented on #81
I'm getting two errors now in the Integration section. I have double-checked my login credentials and 2FA is not enabled. Am I missing something?
![Screen Shot 2022-02-02 at 4 02 30 PM](https://user-images.githubusercontent.com/21128291/152258347-71769a2e-06cc-4fc8-960c-ade64d8234dc.png)
![Screen Shot 2022-02-02 at 4 02 33 PM](https://user-images.githubusercontent.com/21128291/152258351-9607af82-8

[2022-02-03 00:47] elahd commented on #81
Do you see a more detailed error in the logs?

[2022-02-03 01:36] nicocoetzee commented on #81
This is all I found:
![Screen Shot 2022-02-02 at 5 36 53 PM](https://user-images.githubusercontent.com/21128291/152266749-6a7c84d7-3854-465c-ab9b-34862924a975.png)

[2022-02-03 03:41] elahd commented on #81
Who is your Alarm.com provider?

[2022-02-03 03:56] nicocoetzee commented on #81
geoarm.com

On Wed, Feb 2, 2022, 19:41 Elahd Bar-Shai ***@***.***> wrote:

[2022-02-03 13:29] nicocoetzee commented on #81
Do you think that might be the problem? Who do you guys have as your
alarm.com provider?

On Wed, Feb 2, 2022, 19:56 Nico Coetzee ***@***.***> wrote:

[2022-02-03 14:43] DannoPeters commented on #83
I am, I stopped the v0.2 after 10 minutes after getting 7 notifications.

[2022-02-03 15:33] nicocoetzee commented on #81
I think I potentially know what the problem is. I don't have 2FA enabled and after I log in, it takes me to the screen below, which created the authentication issue for the Integration. I have now enabled 2FA.

Can you please provide a little more info on the step?
"Copy the cookie string into your config under the `Two Factor Cookie` parameter."

Should this be added in the configuration.yaml? If

[2022-02-03 15:41] nicocoetzee commented on #81
I entered it in the login screen and now it's all working!
![Screen Shot 2022-02-03 at 7 40 40 AM](https://user-images.githubusercontent.com/21128291/152375942-eec714b5-739e-43ef-9089-52866995b66c.png)

[2022-02-03 17:07] elahd commented on #81
Awesome, glad you got it working. When you do configure two-factor auth, you'll need to log back in to the add-in with the 2FA cookie. See https://github.com/uvjustin/alarmdotcom#two-factor-authentication-cookie for instructions.

[2022-02-03 17:07] #81 closed

[2022-02-03 17:10] elahd commented on #83
Got it. The add-in doesn't keep an open session with the web server -- it logs back in every time it wants to refresh data. It would add decent amount of complexity to (and opportunities to introduce bugs) to keep the connection alive. It would be great it someone could take a stab at implementing a keep-alive model here, but I think the best near-term solution is to turn on 2FA (to beef up securi

[2022-02-03 19:11] DannoPeters commented on #83
Thanks! 2FA did the trick. My provider dint prompt for it so I didn't realize it was available.

[2022-02-03 19:11] #83 closed

[2022-02-04 00:32] AritroSaha10 commented on #82
Just started to get this error as well, here are my logs:

[code]

[2022-02-04 00:56] AritroSaha10 commented on #82
Seems like removing the integration and then adding it again seems to fix it? Though, it might happen again.

[2022-02-04 18:06] elahd commented on #82
Thanks. I'm working on this problem. For the time being, restarting Home Assistant should resolve the error.

[2022-02-05 15:28] mjmicks opened #84 "Integration Intermittently Unavailable"
After restarting Home Assistant server, my Alarmdotcom integration intermittently will become ‘Unavailable’. After a couple more restarts, I can usually get it to become available again.

**Log Details**

This error originated from a custom integration.

Logger: homeassistant.config_entries
Source: custom_components/alarmdotcom/controller.py:409
Integration: Alarm.com (documentation, issues)
First

[2022-02-06 15:52] insideoud opened #85 "Opened/Closed status not supported"
when sensor is opened and close quickly there is no entry in HA. if there is a way to detect this behavior for the alarm dot come log  file "Opened/Closed" it would be helpful to register that in HA.

[2022-02-08 18:34] elahd commented on #84
Duplicate of #82

[2022-02-08 18:34] #84 closed

[2022-02-08 18:36] elahd commented on #85
This is because the integration polls Alarm.com for updates once per minute. It doesn't get push notifications. Push notifications are only available via the Alarm.com app through an interface that hasn't been reverse engineered.

[2022-02-08 18:36] #85 closed

[2022-02-08 18:37] elahd commented on #82
This should be resolved in v0.2.0-beta.8. Try it out and reopen this issue if you're still running into trouble.

[2022-02-08 18:37] #82 closed

[2022-02-08 20:26] insideoud commented on #85
totally get push notification is not being used as part of this. But can we pull the status from the log and if it behaves like a open/close at least toggle the record in HA so we can see it in history or trigger automation. see a screenshot from alarm dot com:

[](url)
![Picture1](https://user-images.githubusercontent.com/97927319/153069766-b99c7259-19d9-45a5-b011-fb7920a46162.png)

[2022-02-09 05:45] BinaryShrub opened #86 "User input malformed: expected str for dictionary value @ data['arm_code']"
I'm getting this error on v2 when trying to set silent arming for arm stay:
[code]

Does this mean I have to provide a code? in v1 I was able to do silent arming without a code provided.

![image](https://user-images.githubusercontent.com/10691501/153129348-a10ae444-2258-4a44-8c95-9b0061222c30.png)

[2022-02-09 05:47] BinaryShrub commented on #86
Also now that I have a code set, I cannot clear it.

[2022-02-09 14:29] elahd commented on #86
Would you mind copying and pasting the configuration.yaml settings you had set before migrating? Sensitive info redacted, of course. I'm looking for the exact values you had set for force bypass, silent arming, and no entry delay.

[2022-02-09 14:45] BinaryShrub commented on #86
[code]

[2022-02-09 17:40] elahd commented on #86
Did you have any other options set there, like an arming code?

Also, it would be helpful if you could provide more detailed errors. If you add this to configuration.yaml and restart HA, you'll see debug-level errors for the integration in the Home Assistant debug log:

[code]

[2022-02-09 18:03] elahd commented on #86
This should be fixed in v0.2.0-beta.10. Can you update and confirm?

[2022-02-09 20:22] BinaryShrub commented on #86
I am still getting the error. I think the actual cause is that I want to leave the arm code blank, I dont wanna set it. And without setting it you are trying to retrieve the value that doesnt exist?

Seems like the fix would be if the string is empty, dont set it?

[2022-02-10 23:28] elahd commented on #86
Got it. Home Assistant doesn't make it easy to let users delete data from fields that are pre-populated with the current value. (It interprets _blank_ as _no change_ instead of _empty_.) Try v0.2.0-beta.11. I added a separate checkbox that turns the security code on and off. You still won't be able to clear the security code field, but you will be able to tell the integration to ignore it.

[2022-02-10 23:38] #86 closed

[2022-02-16 02:41] mikesalz opened #87 "Version 0.2.0 - Smoke / CO sensors?"
Hello!  I LOVE the new update!  Great job!  Previously, I had stupid complicated template sensors using regex_search for CO 1, Smoke 1, CO 2, Smoke 2, etc. in order to derive my CO and smoke sensors.  While I do see my window and door sensors in the updated integration, I am not seeing anything that resembles CO and smoke.  Would they still be included in the update?

[2022-02-16 15:32] mikesalz commented on #87
Eh, never mind.  I didn't realize it, but Alarm.com took the liberty of renaming a bunch of my sensors after I originally created the Smoke and CO template sensors.  It named them all "Upstairs" and then complained that I had multiple sensors with the same name.  Nice!  Anyway, I am good now. Thanks again for all of the great work on this integration!

[2022-02-16 16:48] elahd commented on #87
Awesome! Glad you sorted this out. Thanks for the feedback.

[2022-02-16 16:48] #87 closed

[2022-02-18 00:05] MithUK1 opened #88 "Configuration required after successful setup"
Ive added the iinstallation, added my alarm.com user and password.  It finds my devices, but then intermttently returns to "your device requires reconfiguration"

I try my username and pasword, and it fails authentication, trying a little later, it passes authentication.

With 0.1, this never happened.

Happy to test for you if you need feedback

![adt1](https://user-images.githubusercontent.com/6

[2022-02-18 16:54] humaninteractivedesign opened #89 "Cannot complete 2FA - password request not received by cellphone assigned"
Attempting to install the version 0.2.0 which was installed by HACS and appears in this card:
![image](https://user-images.githubusercontent.com/28334055/154724605-e13572cc-9d71-478e-9faa-e85416461f05.png)
Select alarm.com from the "add integrations"  produces this prompt:
![image](https://user-images.githubusercontent.com/28334055/154725033-4d4f4924-f5e8-451e-bdb3-ea09b83ead70.png)
successfully f

[2022-02-19 14:50] farberm commented on #89
Same isue

[2022-02-19 16:42] elahd commented on #89
@farberm Are you using phone-based 2FA?

[2022-02-19 17:28] humaninteractivedesign commented on #89
Yes - 2FA challenges produce a 6 digit cellphone text message and an email message from alarm.com alerting an unknown source is attempting login. I get the email but not the 6 digit text message. Browser based logins always produce the cellphone text 6 digit code.

Jeff Gerth
Human Interactive Design
________________________________
From: Elahd Bar-Shai ***@***.***>
Sent: Saturday, February 19, 20

[2022-02-19 18:27] farberm commented on #89
2FA only
Comes as email. No text message. Do not see a way to change that on website

Sent from my iPhone

[2022-02-19 18:44] humaninteractivedesign commented on #89
Here I believe is the problem:

Notice that the “continue” button in lower right must be “pressed” in order
to send a verification code.

*From:* farberm ***@***.***>
*Sent:* Saturday, February 19, 2022 1:28 PM
*To:* uvjustin/alarmdotcom ***@***.***>
*Cc:* humaninteractivedesign ***@***.***>;
Author ***@***.***>
*Subject:* Re: [uvjustin/alarmdotcom] Cannot complete 2FA - password
request not recei

[2022-02-19 18:46] farberm commented on #89
There is no continue button in the lower left????

Sent from my iPhone

[2022-02-19 18:47] farberm commented on #89
Lower right just submit
Button

Sent from my iPhone

[2022-02-19 18:51] humaninteractivedesign commented on #89
Sorry I meant to say lower right continue button- which I must press to generate a code.

Jeff Gerth
Human Interactive Design
________________________________
From: farberm ***@***.***>
Sent: Saturday, February 19, 2022 1:47:26 PM
To: uvjustin/alarmdotcom ***@***.***>
Cc: humaninteractivedesign ***@***.***>; Author ***@***.***>
Subject: Re: [uvjustin/alarmdotcom] Cannot complete 2FA - password req

[2022-02-19 21:44] humaninteractivedesign commented on #89
I don’t understand “lower right just submit button” – are you suggesting a
programmatic solution that will need to be coded.  Just to be clear all
that is seen in HA integrations dialog popup is first the username/password
prompt then a second prompt of:

What I showed prior to this is what is seen in the human generated popups
when 2FA challenges in a browser session.  Indeed my workaround before

[2022-02-19 22:03] farberm commented on #89
There is no "continue" button in the lower right. After you enter the username and password on the first screen it prompts you for the code on the second screen. I never receive an email with the 2Fa code.

[2022-02-19 23:16] farberm commented on #89
It appears that when I upgrad from version 1 that it takes all my information from configured file  and I can arm and disarm the alarm. I get an error however that says it is not configured correctly even though it appears to work. I t asks me to reconfigure. I enter my username and password and then it prompts for a 6 digit code but never sends email or text

[2022-02-20 00:10] Raul-7-7 opened #90 "How to Change Sensor type?"
Hi guys, just upgraded to 0.2 and everything seem to work, however, some of the entities are setup wrong, for example, if my window sensor for Bedroom is called "Bedroom" it has created a sensor but with on/off state , however for rooms that my window sensor has th word window in it for example "Basement Window" it has created a correct entity that looks like this
![image](https://user-images.gith

[2022-02-20 00:33] elahd commented on #90
Alarm.com doesn't report whether a contact sensor is on a window or a door, so we built some crude logic into the integration that searches for the words "window" and "door" in a bunch of different languages to choose the sensor subtype. If the integration can't find either word, it creates a generic sensor.

You can fix this by either:
1. Adding "window" or "door" to the sensor name in Alarm.com.

[2022-02-20 00:45] Raul-7-7 commented on #90
Thanks! that worked fine :)

[2022-02-20 00:45] #90 closed

[2022-02-20 03:33] brentonmallen1 commented on #89
I'm trying this for the first time and am experiencing the same issue where I'm not receiving an email with the 2FA code when asked to sign in from the Home Assistant Integrations page.  I attempted to log into the alarm.com site and use the code generated from that but that didn't seem to work.

[2022-02-20 05:00] elahd commented on #89
This should be fixed in v0.2.1. Prior releases inadvertently only supported OTP via authenticator apps. Can anyone here test and confirm?

[2022-02-20 05:02] elahd commented on #88
Would you mind running the integration for a few days with debugging enabled? This will provide more detailed logs next time you run into this problem. Add the following to configuration.yaml.

[code]

When the error pops up again, check your Home Assistant logs for details.

[2022-02-20 09:30] farberm commented on #89
Fixed issue.

Sent from my iPad

[2022-02-20 11:56] MithUK1 commented on #88
Hi I added the logging as directed:

If i remove and reinstall the integration, it works again, but only for about 15 mins.
I personally think it may be too many attempts to login to the website (I have front door, 3 mortion and the panel with camera and glass)  so its quite a lot of loggin in to check status i noticed this, this morning.
![website](https://user-images.githubusercontent.com/603225

[2022-02-20 16:37] humaninteractivedesign commented on #89
Confirmed fixed.  Closing issue.  Many thanks @elahd

[2022-02-20 16:37] #89 closed

[2022-02-22 23:41] nicocoetzee opened #91 "Alarm.com Error"
Hi -

I'm getting this error when arming my system via HA:

"Alarm.com Error
Your Alarm.com user does not have permission to armstay your partition. Please log in to Alarm.com to grant the appropriate permissions to your account."

Any ideas on how I can fix it?

Thank you in advance,
n.
![Screen Shot 2022-02-22 at 3 40 15 PM](https://user-images.githubusercontent.com/21128291/155238274-fc04075a-a

[2022-02-23 02:17] AritroSaha10 opened #92 "Add as official integration again?"
I was looking through the ADR docs, and it seems like the [webscraping ADR](https://github.com/home-assistant/architecture/blob/master/adr/0004-webscraping.md) received an amendment a while ago that allows integrations to use webscraping for authentication, which it seem like this integration only does?

Not completely sure but if so, a pull request could likely be made again to add this integrati

[2022-02-23 04:51] elahd commented on #92
That's right. Also, using unofficial APIs for the rest of the integration is ok: https://github.com/home-assistant/architecture/issues/252#issuecomment-504217336

@uvjustin?

[2022-02-23 06:08] uvjustin commented on #92
@elahd First off, thanks for driving this component forward! I haven't had a chance to review the entire refactor or upgrade my own install yet, but it seems like you've added some new features and polish to everything, and additionally you've put a lot of good scaffolding in place for further extension.
As for this issue, at first I was hesitant about this because I had a discussion on the HA dis

[2022-02-23 16:39] hufman commented on #80
In my case, HACS claimed the previous install of alarmdotcom was up-to-date (0.2.1), but the actual files showed that it was using my previously-installed 0.1.12 version. I uninstalled and reinstalled it through the HACS interface and it popped right into the Integrations list.

[2022-02-28 13:33] nicgraner opened #93 "Integration not prompting for 2fa code on configuration"
Hey there, i've been trying to setup the integration, however after adding from HACS, and then clicking configure in the integrations page, it just offers fields for username and password, no option for 2fa, any ideas?

[2022-02-28 13:37] nicgraner commented on #93
nevermind, just had to redo it for a 5th time on my end for me to do it right somehow :D thanks for the integration!

[2022-02-28 13:37] #93 closed

[2022-03-03 00:17] mikedd732 opened #94 "Fire detector always showing “Detected”"
I have a fire detector sensor in my ADC system and it was regularly tripping my HomeKit and saying “Smoke detected”.

I looked at the entity in HA and it ALWAYS reporting detected. Do I have something configured wrong? My ADC is not showing this status…

[2022-03-03 05:11] mjmicks commented on #50
ADC customer here through one of their local distributors...happy to jump on this thread and help in regards to the camera feed support, but will need a bit of guidance as to how to help. I've got a doorbell camera, outdoor camera, as well as an indoor camera that I'd love to tie into my HA setup...

[2022-03-05 10:15] Brkie opened #95 "Error setting up entry Securitas Sverige AB:***@me.com for alarmdotcom"
Hi,

i updated yesterday to 2022.3.1 and also to the latest version in HACS of alarmdotcom. The migration did not work, i deleted all code in in config file and created a new integration thru integration page. All sensors showed up, I placed them in right rooms and so long so good.

Today when I restarted my HA - there is a new error and i cant figure it out. Here is the error:

Logger: homeassist

[2022-03-05 20:10] Brkie commented on #95
Just noticed that when I remove integration and add again, it works - until restart of server...

[2022-03-05 23:49] HazardousRat commented on #95
I'm experiencing the same issue however, upon integration I'm no longer receiving the 2FA code as I was previously.

[2022-03-08 18:58] elahd commented on #91
Would you mind running the integration for a few days with debugging enabled? This will provide more detailed logs next time you run into this problem. Add the following to configuration.yaml.

[code]

When the error pops up again, check your Home Assistant logs for details.

[2022-03-08 19:02] elahd commented on #94
Log in to Alarm.com, then go to https://www.alarm.com/web/Security/Sensors.aspx. What's the status for that device?

You may need to reset the status: https://www.alarmgrid.com/faq/how-do-i-reset-a-smoke-detector-on-alarm-com.

[2022-03-08 19:08] elahd commented on #95
Would you mind running the integration for a few days with debugging enabled? This will provide more detailed logs next time you run into this problem. Add the following to configuration.yaml.

[code]

When the error pops up again, check your Home Assistant logs for details.

Also, for now, instead of removing/re-adding the integration, try just reloading it:

![image](https://user-images.githubus

[2022-03-08 21:42] mikedd732 commented on #94
Thanks, this looks like the issue. I’ve contacted Surety (my provider for ADC) to have them clear this. Arm/disarm did not seem to clear the stuck issue.

It is currently showing “Sensor is not reset”.

From: Elahd Bar-Shai ***@***.***>
Date: Tuesday, March 8, 2022 at 2:03 PM
To: uvjustin/alarmdotcom ***@***.***>
Cc: Mike Dugas ***@***.***>, Author ***@***.***>
Subject: Re: [uvjustin/alarmdotcom]

[2022-03-10 16:13] rmatte commented on #95
I was just coming here to report this.  I see the same thing.  Works fine until the home assistant server is restarted and then it fails to reconnect with the same message that the person who reported this included here.

[2022-03-10 16:20] rmatte opened #96 "Automatically created binary_sensor entities are sometimes missing the "SHOW AS" field"
Automatically created binary_sensor entities are sometimes missing the "SHOW AS" field.  I noticed this happen only for window sensors for me, though not for all of my window sensors for whatever reason.

When this happens the icon for those sensors doesn't get set to a window icon automatically (it gets set to some circle icon) and the text shows as Off / On instead of Open /  Closed and there's

[2022-03-10 16:46] elahd commented on #96
That's how the integration works. The language dictionary is in  [custom_components/alarmdotcom/device_type_langs.py](https://github.com/uvjustin/alarmdotcom/blob/master/custom_components/alarmdotcom/device_type_langs.py) and the logic is below, from [custom_components/alarmdotcom/binary_sensor.py](https://github.com/uvjustin/alarmdotcom/blob/master/custom_components/alarmdotcom/binary_sensor.py).

[2022-03-10 16:47] elahd commented on #94
Awesome!

[2022-03-10 17:12] elahd commented on #96
Also, would you be able to post the config entry for one of those windows? The entry is in /config/.storage/core.entity_registry. It looks like this:

[code]
Be sure to block out the "unique_id" field as that contains an ID from your Alarm.com account.

I have a feeling that the "Show as" bug lives in the HA frontend and basically just fails to show up for binary sensors with the default device cl

[2022-03-10 20:04] rmatte commented on #96
I rolled back to the old version of this because of https://github.com/uvjustin/alarmdotcom/issues/95 but I'll find some time soon to temporarily re-upgrade it to get you that info.  Many of them definitely did have "window" in the sensor name and didn't get detected as windows.  I'll get that info to you in here as soon as I can (I'll probably have some time to tomorrow).

[2022-03-16 15:32] sebastienmiglio opened #97 "Alarm.com not available after remove and reinstall"
Hi,
I remove in HACS the alarmdotcom integration (it was visibie in Device > Integration) then I reinstall it on HACS and now I don't see alarm.com device integration anymore. I have tried restart and reboot but it does not change anything.
Any idea is welcome !
Thanks for your work,

[2022-03-23 20:32] rmatte commented on #95
Is it possible that the token that's established during the first login isn't getting saved or something?  I know with the older version of the plugin we had to login to the alarmdotcom interface and manually create a token string and then use that in the config.  That part seems to be automated now but maybe it's not working as expected after a restart of HA?

[2022-03-24 06:15] sercanerhan opened #98 "Error Setting up Integration after Restart"
# Problem

Alarmdotcom integration works perfectly until I restart the Home Assistant. After the restart, looks like the Integration lose the login information.

## Expectation
Alarmdotcom integration should work smoothly and be able to re-connect to the alarmdotcom even I restart my Home Assistant.

# Versions and Env
**Home Assistant Os version**: 2022.3.6
**Alarmdotcom integration HACS repo ver

[2022-03-26 16:15] elahd commented on #95
You can check the cookie by digging into Home Assistant's config entry data store. If you're using Home Assistant OS, the easiest way to do this is by installing the "File Editor" add-in. (If you need a hand, there are good instructions on installing this add-in [here](https://www.home-assistant.io/getting-started/configuration/).)

Use the file editor to open `/config/.storage/core.config_entries

[2022-03-29 17:13] pdobrien3 opened #99 "Scan interval"
Any way we can add a scan interval like earlier versions?  Or possible is there a way to manually edit the scan interval?

[2022-03-30 01:18] AritroSaha10 commented on #99
Looks like `update_interval` [in line 167 of controller.py](https://github.com/uvjustin/alarmdotcom/blob/master/custom_components/alarmdotcom/controller.py#L167) controls how frequently it's scanned. Maybe this can be changed so that it goes off the configuration entry?

[2022-03-30 20:49] AritroSaha10 opened #101 "Camera support"
**Which device would you like us to support?**
Outdoor Camera (ADC-V723): https://www.telus.com/en/smarthome-security/security-system-products/security-outdoor-camera
(E.g.: Intelligent Thermostat: https://suretyhome.com/product/intelligent-thermostat/)

**Where does this device appear in the Alarm.com mobile app?**
Video

**What types of actions does this device support?**
E.g.: Garage doors supp

[2022-03-30 20:52] AritroSaha10 commented on #50
#101 Let me know if I should add any more information, seems like they use Janus as a WebRTC server? Not sure if it's possible to display a WebRTC stream from another service in home assistant. Though the use of WebRTC may vary between camera models (my issue was for the ADC-V723)

[2022-04-03 20:50] elahd commented on #95
@rmatte Would you mind testing v0.2.2-beta?

[2022-04-03 20:50] elahd commented on #97
@sebastienmiglio Would you mind testing v0.2.2-beta?

[2022-04-03 20:50] elahd commented on #98
@sercanerhan Would you mind testing v0.2.2-beta?

[2022-04-03 20:51] rmatte commented on #95
Sure thing, I'll do it right now.

[2022-04-03 21:28] rmatte commented on #95
I can confirm that changing the timeout in the code from 15 seconds to 30 has solved the problem.  I tested with both a restart of the ha core as well as a full reboot of the host.  Looks like we can close this one out.  Would be nice to get an updated version pushed to HACS.  I just hand patched the code on my host for now.

[2022-04-03 21:30] rmatte commented on #96
Now that #95 is fixed I'm in the process of re-testing this.  You can see the names of several of my window sensors here which don't have a "SHOW AS" field set on them.  I'm going to grab the config info for one of them that you asked for previously and posted it here in a minute.  [https://i.imgur.com/KUrWsuE.png](url)

[2022-04-03 21:39] rmatte commented on #96
Here is another example which shows how all of my door sensors got the SHOW AS field created and set properly on them while only some of my window sensors did: https://i.imgur.com/fXdnBSG.png

Not sure why that is.  Checking the config data you asked for next...

[2022-04-03 21:42] rmatte commented on #96
Here's an example from one of the sensors where that isn't getting set properly on it despite containing the word "window" in it's name...

`            {
                "area_id": null,
                "capabilities": null,
                "config_entry_id": "a14c6458be0e4dcbbb360478767d30ae",
                "device_class": null,
                "device_id": "453fc0fd8a7405b94d94eeabd9cbb8e3",

[2022-04-03 21:48] rmatte commented on #96
I'm heading out for a bit but I'll dig in to this more when I get back.

[2022-04-03 22:08] rmatte commented on #96
Here is the one that got detected properly...

[code]

[2022-04-03 22:12] rmatte commented on #96
I'm not noticing any kind of pattern in the naming that could account for one being detected vs one not being.  For instance "Diningroom Window 1" and "Diningroom Window 2" got detected as windows, but "Kitchen Window 1" and "Kitchen Window 2" did not.  There's something weird going on here.

[2022-04-03 22:27] rmatte commented on #96
I think I see the problem in the code.  It's this line in binary_sensor.py...

[code]

Just above where it's doing the regex matching to see if it's a door or window sensor.  That's assuming it's going to be a CONTACT_SENSOR but all of mine that aren't being set as window sensors properly are probably not being detected as "CONTACT_SENSOR" because they are also glass break sensors (shock sensors)

[2022-04-03 22:35] rmatte commented on #96
So it looks like you're using some hardcoded index of device types from the pyalarmdotcomajax package...

[code]
Either these sensors are some new type that's not in there or it's in there and just needs to be added to that if statement.  I'm working to figure out which.

[2022-04-03 23:09] rmatte commented on #96
I'm just trying to get it to spit out the integer representing the sensor type right now via logging but I'm running in to some weirdness, keep getting errors like this even when I put the code back to the way it was before I started...

[code]
I'm restarting HA to see if it fixes this or not.

[2022-04-03 23:27] rmatte commented on #96
Ok, so the restart fixed it.  I'm basically just modifying some of the debug logging to try to get it to spit out the raw integer value for the device type for these.  I can see that with the standard functions being used to pull it it's just returning None.

[2022-04-04 00:18] rmatte commented on #96
To work around this for now I edited binary_sensor.py and changed...

[code]
to...

[code]
and added...

[code]
directly below...

[code]
It's a crude workaround but it works.  I could keep digging to try to figure out what the integer is that represents the types of these sensors, but I really think this code needs to become less hard coded and more generic for this stuff.  Either consider making

[2022-04-04 00:36] rmatte commented on #95
Actually, before we close this, it seems like sometimes when HA is reloaded or the host reboots I need to manually reconfigure the integration and log back in and provide another "one-time" code.  I want to see if this continues to be a trend or not.  If it does it's not going to be as nice as it was before where I never had to do this.  Maybe we need an option like before where we can just manual

[2022-04-04 02:48] elahd commented on #96
Thanks for digging into this. The pyalarmdotcomajax python module includes a CLI that can dump Alarm.com debug info. You can install it on your daily driver using pip. The condensed instructions for this are:

1) [Install pip](https://pip.pypa.io/en/stable/installation/#).
2) Use pip to install pyalarmdotcomajax: `pip install pyalarmdotcomajax`.
3) Use the pyalarmdotcomajax command line tool to du

[2022-04-04 16:14] elahd commented on #95
If you are required to resubmit an OTP, I'd be curious to see whether there's a 2FA cookie in `/config/.storage/core.config_entries`.

I'm going to close this to keep the issues board tidy, but please do reopen if you continue running into this issue!

[2022-04-04 16:14] #95 closed

[2022-04-04 16:15] elahd commented on #91
Closing as stale.

[2022-04-04 16:15] #91 closed

[2022-04-04 16:24] #98 closed

[2022-04-04 17:44] sercanerhan commented on #98
Hi @elahd after several core restarts, I couldn't get any issue. It works smoothly, thank you 🎉

[2022-04-04 19:20] elahd commented on #98
Awesome! Credit goes to @AritroSaha10 for the fix.

[2022-04-04 19:32] sercanerhan commented on #98
Thank you @AritroSaha10 🎉

[2022-04-04 21:28] jacobmrhodes commented on #88
Same thing is happening to me. I'm happy to enable logging if needed. It works as long as I do not restart the integration.  Once I restart it, it fails and I need to delete/reconfigure.

[2022-04-05 20:42] elahd commented on #99
This is done in v0.2.3-beta.

[2022-04-05 20:42] #99 closed

[2022-04-05 22:42] pdobrien3 commented on #99
Thanks.  What is the easiest way to update?  Is it standard practice to delete all the files in custom_components, delete the integration, download the new files and add the integration again?

[2022-04-05 22:49] AritroSaha10 commented on #99
@pdobrien3 Did you download the integration through HACS? If so, you can update from there

[2022-04-05 23:29] pdobrien3 commented on #99
No, I don’t use HACS.  I just put the files in the custom_components folder.

[2022-04-06 00:38] elahd commented on #99
1. Delete the `custom_components/alarmdotcom` folder.
2. Download the source code zip from https://github.com/uvjustin/alarmdotcom/releases/tag/v0.2.3-beta.
3. Extract the `custom_components/alarmdotcom` folder from the zip file into your `custom_components` folder.
4. Reboot HA.

Your settings will be saved.

I can't recommend HACS enough, though. It makes this entire process 1-click and makes it

[2022-04-06 00:42] elahd commented on #88
@MithUK1 / @jacobmrhodes: Can you try updating to >v0.2.2 and checking whether you still run into this problem?

[2022-04-06 00:49] elahd commented on #88
Also, please try this:

1. Log into Alarm.com with the account you used to set up this integration.
2. Go to Settings > Login Information > Linked Devices.

Under Trusted Devices, do you see any devices with "Home Assistant" in the name? If so, how many?

Additionally...

1. Are you using 2FA?
2. When you log into Alarm.com, do you see any message modals when you first log in? Typical messages are

[2022-04-06 00:57] pdobrien3 opened #106 "Upgraded to Version 0.2.3-beta and lost motion binary sensors"
just upgraded to the beta. everything went fine.  the new config is nice. motion sensor binary sensors and their battery sensors were missing though

[2022-04-06 01:31] Anto79-ops opened #107 "Upgraded to Version 0.2.3-beta and integration doesn't work"
Thanks for your awesome work here! This integration relies on quite a few automations for me so noticed almost immediately when there was a problem. Today, I noticed an update was available to version 0.2.3-beta (April 5, 2022), installed it and restarted HA and upon restart, my intergration doesn't seem to work anymore. Sorry, I didnt read the release notes this time. Are there instructions I mis

[2022-04-06 13:45] elahd commented on #107
Would you mind checking v0.2.3-beta.1?

Thanks for testing!

[2022-04-06 13:56] Anto79-ops commented on #107
I'd be happy to. How do I actually get that version? I have it currently installed through Hacs.

[2022-04-06 14:12] elahd commented on #107
From within HACS, use the "Update information" option for the integration to force a check for new versions:

![image](https://user-images.githubusercontent.com/466460/161994429-5240650c-c423-42e1-97cf-e972d2a1461f.png)

Once you do that, you should see a prompt to update. If you don't, select the "Redownload" option, select "Show beta versions," and wait a few seconds:

![image](https://user-imag

[2022-04-06 14:17] elahd commented on #106
@pdobrien3  I deliberately blocked those in this release. The integration doesn't get instant feedback from Alarm.com -- by default, it only checks for updates once a minute -- so I didn't think that anyone would be able to use them reliably. Do you use motion sensors in automations? Happy to add them back in.

[2022-04-06 14:25] pdobrien3 commented on #106
No. That makes perfect sense. I added the motions just because they were there. While the actual binary sensors were not beneficial, the malfunction and battery ones were a welcome addition. Would it make sense to just add those back?

[2022-04-06 14:40] Anto79-ops commented on #107
thank you very much! That was simple to fix after following your instructions. All is working now.

[2022-04-06 14:49] elahd commented on #106
Interesting, that's a good idea. That'll take a bit more work, though, than adding it all back, so I'll keep this open for a future release. Thanks for the feedback!

[2022-04-06 14:50] #107 closed

[2022-04-06 15:00] pdobrien3 commented on #106
thank you for what you are doing. also, i have a SMKTX-345 smoke detector. the high heat and smoke seem to properly report.  the battery and malfunction seem to work fine for the freeze alarm but binary_sensor.freeze_alarm reports as unknown. in prior releases it reported malfunction i think. should i make another issue or this is good?

[2022-04-06 15:46] elahd commented on #106
@Valdorama My concern is that Home Assistant will never see an motion event and will therefore always mark a room as unoccupied. As an example, if a motion sensor enters a "detected" state for 5 seconds after being triggered and this integration only polls for updates once every 60 seconds, odds are that you'll never receive the trigger event. Can you tell me for how long a motion sensor reports a

[2022-04-06 18:40] AritroSaha10 commented on #106
@elahd The motion sensors generally stay active for a while. In my experience, it seems to stay on for at least 30 minutes.

[2022-04-06 19:42] elahd commented on #106
@AritroSaha10 @Valdorama Thanks. Back in it goes. I'll push another beta update later today.

@pdobrien3 No need to mess with your Home Assistant server. You can do this on your laptop/desktop.

1. [Install python>3.9](https://www.python.org/downloads/).
2. Open a command prompt and [install pip](https://pip.pypa.io/en/stable/installation/) by entering `python -m ensurepip --upgrade` on Mac or `py

[2022-04-07 01:43] pdobrien3 commented on #106
Looks easy enough. Hopefully I can take a shot at it on Friday or Saturday. Thanks.

[2022-04-07 02:53] elahd commented on #106
Motion sensors restored in v0.2.3-beta.2.

[2022-04-07 03:25] AritroSaha10 opened #108 "TypeError: 'NoneType' object is not iterable for control panel"
Here's the full error:

[code]

This leads to the partition device only having a Malfunction entity, but no alarm control panel. Seems like this is due to a recent change as well, as it seems to be working in v0.2.1 ([reference code if wanted](https://github.com/aritrosaha10/alarmdotcom))

[LOC ref if useful](https://github.com/uvjustin/alarmdotcom/blob/master/custom_components/alarmdotcom/alarm_c

[2022-04-07 04:26] elahd commented on #108
Do you see a partition if you run adc with just the username and password parameters?

[2022-04-07 10:58] pdobrien3 commented on #106
So I worked through the steps this am.  A couple questions, if you don't mind, from a beginner.  Do you typically run the python commands from the python program itself, a command prompt, or secure shell?  Do you some how create a venv (running in windows) or just bring up a prompt and start working?

Also, I noticed this for my freeze part of the smoke detector:
   "isMonitoringEnabled": false,

[2022-04-07 11:16] pdobrien3 commented on #106
{
      "id":,
      "type": "devices/sensor",
      "attributes": {
        "deviceType": 8,
        "openClosedStatus": 0,
        "state": 0,
        "isFlexIO": false,
        "deviceRole": 0,
        "displayStateText": "Status Unknown",
        "isMonitoringEnabled": false,
        "sensorNamingFormat": 3,
        "managedDeviceType": 2,
        "hasState": true,
        "canBeRenamed": true

[2022-04-07 12:44] AritroSaha10 commented on #108
Yeah, looks to be normal:

[code]

[2022-04-07 15:47] elahd commented on #106
Thanks, @pdobrien3. Take a look at my answer to another issue [here](https://github.com/uvjustin/alarmdotcom/issues/45#issuecomment-1018880202). It may be possible that you don't have monitoring enabled for these sensors in the UI.

Also, would you mind updating to v0.2.3-beta.3 to test freeze sensors?

[2022-04-07 15:48] elahd commented on #108
Should be fixed in v0.2.3-beta.3. Would you mind testing?

[2022-04-07 16:08] elahd commented on #101
@AritroSaha10 There is a pretty popular WebRTC component for Home Assistant: https://github.com/AlexxIT/WebRTC. Other integrations use this component to display their streams. This is probably a good candidate for integration with ADC cameras. I don't have an ADC camera, though, so I'd be looking to you to drive this effort.

There are two obvious approaches here:

1. Access the stream made availa

[2022-04-07 16:22] AritroSaha10 commented on #108
Works now!

[2022-04-07 16:22] #108 closed

[2022-04-07 20:08] AritroSaha10 commented on #101
I'll try to use the WebRTC component code, thanks. Though, I believe the 2nd method might not be possible since some camera's don't use MJPEG (ex. the ADC-V723, the one I have).

However, it might be possible to use RTSP with some work. I did some digging and found out that there is a feature on the Qolsys IQ Panel 2 where you can stream the camera to it directly (?). It says that both of them mus

[2022-04-07 20:26] pdobrien3 commented on #106
Right, but where the checkboxes is under devices, says N/A. I have gotten a response from my monitoring company. They said those devices are security devices  bs sensor devices

`That section in Alarm.com is referencing sensor activity monitoring, not alarm monitoring. Life safety devices are either in alarm status or at rest, they are not eligible for sensor activity monitoring like door window s

[2022-04-08 03:03] elahd commented on #106
That's weird. This may be specific to your provider. `"state": 0` maps to "unknown." Does the sensor at least show up in Home Assistant as a `cold` sensor in beta 3?x

I don't have any freeze sensors, but my CO and smoke detectors return state (see what I pasted in an earlier post).

They show up on the ADC website as:

<img width="1023" alt="image" src="https://user-images.githubusercontent.com/4

[2022-04-08 09:54] pdobrien3 commented on #106
Yes, it has always shown up as a freeze alarm.  I think the icon changed.  What is odd to me is that the smoke, high heat, and freeze are all one device.  The smoke and high heat seem to have a state but the freeze does not.

Have you seen if any of your alarm monitoring devices will actually change state?  According to my provider, anything with an N/A under monitoring is not meant to be monitore

[2022-04-08 10:00] pdobrien3 commented on #106
Also, I was seeing multiple adc login attempts to update errors that have vanished. Not sure it that is something with the recent beta or just something on my network that has improved.

Also, I have been on a 15 sec scan interval for some time now without any issues.

[2022-04-08 15:05] robin-vandaele opened #109 "Is it possible to read arming state when user has no access to the arming codes"
Hi
If I want to make a restricted alarmdotcom user (custom, who cannot read the arming codes), this integration cannot get the arming state.
I would like to give my users as less Rights as possible.
I would like to not allow security code access to this user, but still read the arming state with this integration.

Of not possible, no harm.

Sincerely

[2022-04-08 19:23] elahd commented on #106
I haven't actually tested this. I can try next week. Let me know what you find on your end.

That's great. Were you seeing the errors on the ADC website or in Home Assistant?

[2022-04-10 14:49] BinaryShrub opened #110 "Disable Use Delay by default"
I recently upgraded from 2.1, and by default use delay was turned on for all three modes, which results in my alarm going off immediately when opening a delayed contact. I don't know if the logic is reversed, but it might be something you want to look into so others don't have the same problem.

Turning off `use delay` for all three of my modes resulted in expected experience of panel delay before

[2022-04-10 15:03] pdobrien3 commented on #106
Just a heads up.  I was planning on testing some of the security sensors today.  Before I did, I tested scan interval.  It didnt seem to make a difference if it was set to 15, 30 or 60 seconds.  I had response times from 45 seconds all the way to 1:45.  the 45 seconds was obtained when scan interval was set to 60 seconds.

[2022-04-10 20:31] Anto79-ops opened #111 ""Cannot determine light state" error in logs"
hey trying to figure out what this means. Any ideas?

[code]

[2022-04-11 20:49] elahd commented on #111
Can you try again with v0.2.4?

[2022-04-11 20:50] elahd commented on #110
Sorry about that. This is fixed in v0.2.4, but you'll need to update your delay settings after you update. Would you mind updating and reporting back here?

[2022-04-11 20:59] elahd commented on #109
Thanks for the feedback. Possibly in a future release. Home Assistant doesn't have a read only concept for alarm control panels, lights, garage doors, etc. If you have read only access to an alarm system, Home Assistant will still show the Arm Home and Arm Away buttons. It's a bad experience.

There are two options here:

1) Build custom "read only" _sensors_ in this integration for all supported

[2022-04-11 21:02] Anto79-ops commented on #111
for sure and thanks! Just updated it, looks like the error message is gone.

[2022-04-11 21:29] elahd commented on #111
Great!

[2022-04-11 21:29] #111 closed

[2022-04-11 21:37] elahd commented on #106
Thanks! Fixed in v0.2.5.

[2022-04-12 10:00] robin-vandaele opened #112 "My alarmsystem goes unavailable from time to time"
![Screenshot_20220412-115924_Home Assistant.jpg](https://user-images.githubusercontent.com/7677141/162934702-f16e2a64-b318-4c53-ade4-032a0b94ed59.jpg)
My HA loses connection with alarmdotcom from time to time.

[2022-04-12 15:37] tholland15 opened #113 "Lock status only shows "Locked" on v0.2.3+"
Locking and unlocking locks works as expected. However the status of the locks are always `Locked` since upgrading to v0.2.3-v0.2.5.

[2022-04-12 20:39] elahd commented on #113
Would you mind testing this before I push to prod? To test:

1. From your HACS page, click on Redownload in the Alarmdotcom card's menu:
![image](https://user-images.githubusercontent.com/466460/163047616-853cc8b8-6eb0-40a8-8f9b-f1335f5f79ea.png)
2. Select "master" from the "Select version" dropdown, then click on "Download".
![image](https://user-images.githubusercontent.com/466460/163047867-daf2

[2022-04-12 20:54] tholland15 commented on #113
Unfortunately no change after downloading master. All locks are still `Locked` after unlocking them and waiting 5 minutes.

I edited the issue to remove my comment about the bugs right after I posted as I realized it was in bad taste and did not want to demotivate you from all your amazing contributions to this integration! It's amazing what you've been able to accomplish without even having a sys

[2022-04-13 23:50] elahd commented on #113
Alright, try this:

1. Run through the "redownloading from master" steps above, then restart Home Assistant.
2. In Home Assistant, go to Configuration > Devices & Services.
3. Click on the "[X] Devices" link in the Alarm.com card:
![image](https://user-images.githubusercontent.com/466460/163287195-853ea308-082a-466c-a0c6-67c121262b47.png)
4. Find your lock in the devices list and click on it.
5. I

[2022-04-14 02:58] elahd commented on #112
Would you mind running this add-in in debug mode for a bit to see if anything interesting comes up in the logs? You can enable debug mode by adding these lines to your configuration.yaml file, followed by rebooting Home Assistant:

[code]

[2022-04-15 19:17] jacobmrhodes commented on #88
Updating to v.2.5 seems to have resolved this :) Thanks!

[2022-04-15 21:10] #88 closed

[2022-04-16 12:13] mecarroll commented on #110
Where is this setting changed?

[2022-04-16 12:15] IbeAbitGoofy opened #116 "Configuration Error"
When clicking on Configuration in Integrations, receive the following:

Error
Config flow could not be loaded: 500 Internal Server Error Server got itself in trouble

[2022-04-16 16:43] elahd commented on #110
![image](https://user-images.githubusercontent.com/466460/163683739-863771d5-d971-4379-8379-eee082e9b4e0.png)

![image](https://user-images.githubusercontent.com/466460/163683779-490e3542-a6f6-4d8f-93ef-fc0d6c0660a0.png)

![image](https://user-images.githubusercontent.com/466460/163683793-06b6611c-3fca-47ff-81f1-47a82dc3f81e.png)

It's the "Arming Delay" setting. When checked, the arming delay wil

[2022-04-16 16:49] elahd commented on #116
That's a weird one. I see that specific message in the home assistant forums. Can you reply with:

1. Home Assistant version
2. Alarm.com integration version
3. More details from the logs. Do you only see that message, or is there more info attached to it?

Lastly, can you try making sure your internal/external URLs are set correctly?

https://community.home-assistant.io/t/official-smartthings-int

[2022-04-16 22:00] IbeAbitGoofy commented on #116
I think I've figured it out.  I appeared to still be on HA 2022.02.  Upgraded to the latest version and that fixed the issue.

[2022-04-16 22:56] #116 closed

[2022-04-17 21:56] elahd commented on #113
@tholland15 Did you have the chance to look at this?

[2022-04-17 22:48] elahd commented on #109
@robin-vandaele I started a discussion at https://github.com/home-assistant/architecture/discussions/757.

[2022-04-19 16:39] lubo1953 opened #119 "alarmdotcom doesn't load after reboot"
I'm having a problem with alarmdotcom reloading after I reboot. Once HA is rebooted, I'm able to disable alarmdocom and then enable it and it loads. Everything work fine afterwards, but it the inconvenience of having to restart it as I have my security camera programmed to start or stop based on the alarm settings. Error's I'm receiving are below.

![image](https://user-images.githubusercontent.co

[2022-04-19 19:27] elahd commented on #119
@lubo1953 Would you be able to click on the error messages to share the technical details?

[2022-04-19 20:56] tholland15 commented on #113
Sorry, I was away from home for several days over the holiday weekend.

I just started to gather the debug info, by first upgrading to 0.2.6 and now it works! No other changes, just upgrading to 0.2.6 seems to have fixed it.

Separately, these debug buttons are great and will make future debugging much easier.

Closing this issue. Thanks for the fix @elahd!

[2022-04-19 20:56] #113 closed

[2022-04-20 01:07] lubo1953 commented on #119
This error originated from a custom integration.

Logger: homeassistant.config_entries
Source: custom_components/alarmdotcom/controller.py:89
Integration: Alarm.com (documentation, issues)
First occurred: 7:59:27 PM (1 occurrences)
Last logged: 7:59:27 PM

Error setting up entry Central ***@***.*** for alarmdotcom
Traceback (most recent call last):
  File "/usr/local/lib/python3.9/site-packages/ai

[2022-04-24 00:47] #110 closed

[2022-04-24 00:47] #106 closed

[2022-04-24 00:53] elahd commented on #119
Can you update to v0.2.7-beta and see if you still run into this issue?

[2022-04-24 00:53] elahd commented on #119
@lubo1953 Can you update to v0.2.7-beta and see if you still run into this issue?

[2022-04-24 00:53] elahd commented on #112
@robin-vandaele Can you update to v0.2.7-beta and see if you still run into this issue?

[2022-04-24 22:45] lutzky opened #122 "Skybell"
**Which device would you like us to support?**

Skybell HD: https://skybell.com/skybell-hd/

(Note: There's a separate homeassistant integration for skybell for those using it on skybell.com; we're using it with *alarm.com*)

**Where does this device appear in the Alarm.com mobile app?**

Video Devices (has a bell icon)

**What types of actions does this device support?**

The device is a combinat

[2022-04-25 14:43] bkr1969 opened #123 "Not working after latest core update."
Logger: pyalarmdotcomajax
Source: /usr/local/lib/python3.9/site-packages/pyalarmdotcomajax/__init__.py:955
First occurred: 08:40:59 (1 occurrences)
Last logged: 08:40:59

Unable to extract ajax key from Alarm.com. Response: <ClientResponse(https://www.alarm.com/web/DetermineLandingPage.aspx) [503 Service Unavailable]> <CIMultiDictProxy('Content-Type': 'text/html', 'Server': 'Microsoft-IIS/10.0', '

[2022-04-25 14:46] bkr1969 commented on #123
2022-04-25 08:45:18 ERROR (MainThread) [custom_components.alarmdotcom.controller] custom_components.alarmdotcom.controller: Error logging in:
2022-04-25 08:45:18 ERROR (MainThread) [homeassistant.config_entries] Error setting up entry Brinks Home™:[my_accout_email] for alarmdotcom
Traceback (most recent call last):
  File "/config/custom_components/alarmdotcom/controller.py", line 87, in async_log

[2022-04-25 15:07] bkr1969 commented on #123
This error originated from a custom integration.

Logger: custom_components.alarmdotcom.controller
Source: custom_components/alarmdotcom/controller.py:101
Integration: Alarm.com (documentation, issues)
First occurred: 08:53:39 (1 occurrences)
Last logged: 08:53:39

custom_components.alarmdotcom.controller: Error logging in: